hybrasyl/XML/Schema/Actions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:hyb="http://www.hybrasyl.com/XML/HybrasylCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:actions="http://www.hybrasyl.com/XML/Actions" targetNamespace="http://www.hybrasyl.com/XML/Actions" elementFormDefault="qualified">
  <!--
  <castable type= icon= book= element= lines= class= cooldown= isassail>
  <castcost>
    <items>
      <item quantity=>Bag of Rocks</item>
      <item quantity=>Bag of Kittens</item>
    </items>
    <gold>1337</gold>
    <stat hp= mp=>
  </castcost>
  <intents>
    <intent type= target=>
  </intents>
  <maxlevel monk= warrior= peasant= wizard= priest= rogue= >
  <statuseffects>
    <add>sleep paralyze</add>
    <remove>poison</remove>
  </statuseffects>
  <requirements>
    <items>
      <item quantity=>Bag of Rocks</item>
      <item quantity=>Bag of Kittens</item>
    </items>
    <gold>1337</gold>
    <physical str= int= wis= dex= con= int= hp= mp=>      
  </requirements>
  <restrictions>
    <weapontype>shield</weapontype>
  </restrictions>
  <effects>
    <animation id= speed=>
      <sound id=>
      <teleport x= y=>Wang Village or %HOME% for home</teleport>
      <scriptname>wang.py</scriptname>
      <heal>
        <simple min= max=>
        <formula>some-templatable-format-that-outputs-numbers</formula>
      </heal>
    <damage>
      <flags>scaled direct resistance threat</flags>
      <simple min= max=>
      <formula>%CASTERCON*2+6*%CASTABLELEVEL%+1337/%TARGETINT</formula>
    </damage>
  </effects>
</castable>-->
  
  <xs:annotation>
    <xs:documentation xml:lang="en">
      Hybrasyl Project - Hybrasyl XML Schema - Actions (Skills / Spells)
      This file is subject to the same licenses as Project Hybrasyl.
      (C) 2015 Project Hybrasyl (info@hybrasyl.com)
      Written by Justin Baugh (baughj@hybrasyl.com)
    </xs:documentation>
  </xs:annotation>

  <xs:import schemaLocation="hybrasylTypes.xsd" namespace="http://www.hybrasyl.com/XML/HybrasylCommon"/>

  <!-- Skill/spell book location -->
  <xs:simpleType name="Book">
    <xs:restriction base="xs:token">
      <xs:enumeration value="primaryskill"/>
      <xs:enumeration value="secondaryskill"/>
      <xs:enumeration value="utilityskill"/>
      <xs:enumeration value="primaryspell"/>
      <xs:enumeration value="secondaryspell"/>
      <xs:enumeration value="utilityspell"/>
    </xs:restriction>
  </xs:simpleType>

 <!-- Element properties (adds belt / necklace) -->

  <xs:simpleType name="Element">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="belt"/>
      <xs:enumeration value="necklace"/>
      <xs:enumeration value="fire"/>
      <xs:enumeration value="water"/>
      <xs:enumeration value="wind"/>
      <xs:enumeration value="earth"/>
      <xs:enumeration value="light"/>
      <xs:enumeration value="dark"/>
      <xs:enumeration value="wood"/>
      <xs:enumeration value="metal"/>
      <xs:enumeration value="undead"/>
      <xs:enumeration value="random"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IntentTarget">
    <xs:restriction base="xs:token">
      <xs:enumeration value="self"/>
      <xs:enumeration value="infront"/>
      <xs:enumeration value="nearby"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="playertarget"/>
    </xs:restriction>    
  </xs:simpleType>

  <xs:simpleType name="IntentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="friendly"/>
      <xs:enumeration value="hostile"/>
      <xs:enumeration value="player"/>                      
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="StatusEffects">
    <xs:sequence>
      <xs:element name="add" type="hyb:StatusEffectsList" minOccurs="0" maxOccurs="1"/>
      <xs:element name="remove" type="hyb:StatusEffectsList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemSpecification">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="quantity" default="1" type="xs:unsignedByte"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ItemsSpecification">
    <xs:sequence>
      <xs:element name="item" type="actions:ItemSpecification" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CastCost">
    <xs:choice minOccurs="1" maxOccurs="3">
      <xs:element name="items" minOccurs="0" maxOccurs="1" type="actions:ItemsSpecification"/>
      <xs:element name="stat" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <!-- hp/mp can be expressed as percentages here -->
          <xs:attribute name="hp" type="hyb:String8" default="0"/>
          <xs:attribute name="mp" type="hyb:String8" default="0"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="gold" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Intents">
    <xs:sequence>
      <xs:element name="intent" type="actions:Intent" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>    
  </xs:complexType>

  <xs:complexType name="Intent">
    <xs:attribute name="type" type="actions:IntentType" use="required"/>
    <xs:attribute name="target" type="actions:IntentTarget" use="required"/>    
  </xs:complexType>

  <xs:complexType name="MaxLevel">
    <xs:attribute name="monk" type="xs:unsignedByte" use="optional"/>
    <xs:attribute name="warrior" type="xs:unsignedByte" use="optional"/>
    <xs:attribute name="peasant" type="xs:unsignedByte" use="optional"/>
    <xs:attribute name="wizard" type="xs:unsignedByte" use="optional"/>
    <xs:attribute name="priest" type="xs:unsignedByte" use="optional"/>
    <xs:attribute name="rogue" type="xs:unsignedByte" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="Requirements">
    <xs:choice minOccurs="1" maxOccurs="3">
      <xs:element name="items" minOccurs="0" maxOccurs="1" type="actions:ItemsSpecification"/>
      <xs:element name="gold" minOccurs="0" maxOccurs="1" type="xs:unsignedInt"/>
      <xs:element name="physical" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="str" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="int" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="wis" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="con" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="dex" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="hp" default="0" type="xs:unsignedInt"/>
          <xs:attribute name="mp" default="0" type="xs:unsignedInt"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  
  <!-- Weapon type list (for casting restrictions) -->
  <xs:simpleType name="WeaponTypeList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:WeaponType"/>
      </xs:simpleType>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ClassTypeList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:Class"/>
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="LearnRequirements">
    <xs:choice minOccurs="1" maxOccurs="5">
      <xs:element name="level" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="min" type="xs:unsignedByte" default="0"/>
          <xs:attribute name="max" type="xs:unsignedByte" default="255"/>
          <xs:attribute name="display" type="xs:unsignedByte" default="255"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ab" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="min" type="xs:unsignedByte" default="0"/>
          <xs:attribute name="max" type="xs:unsignedByte" default="255"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="class" minOccurs="0" maxOccurs="1" type="actions:ClassTypeList"/>
      <xs:element name="cost" minOccurs="0" maxOccurs="1" type="actions:LearnCost"/>
      <xs:element name="minstats" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="str" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="int" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="wis" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="con" default="0" type="xs:unsignedByte"/>
          <xs:attribute name="dex" default="0" type="xs:unsignedByte"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="DamageType">
    
  </xs:complexType>

  <xs:complexType name="EffectsType">
    <xs:choice minOccurs="1" maxOccurs="7">
      <xs:element name="effect" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="id" type="xs:unsignedShort" use="required"/>
          <xs:attribute name="speed" type="xs:byte" default="100"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="sound" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="id" type="xs:byte" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="teleport" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="hyb:String8">
              <xs:attribute name="x" type="xs:unsignedByte" use="required"/>
              <xs:attribute name="y" type="xs:unsignedByte" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="scriptname" minOccurs="0" maxOccurs="1" type="hyb:String8"/>
      <xs:element name="heal" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice>
            <xs:element name="simple">
              <xs:complexType>
                <xs:attribute name="min" default="0" type="xs:nonNegativeInteger"/>
                <xs:attribute name="max" default="0" type="xs:nonNegativeInteger"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="formula" type="hyb:String16"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="damage" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice>
            <xs:element name="simple">
              <xs:complexType>
                <xs:attribute name="min" default="0" type="xs:nonNegativeInteger"/>
                <xs:attribute name="max" default="0" type="xs:nonNegativeInteger"/>
                <xs:attribute name="type" default="direct" type="hyb:DamageType"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="formula" type="hyb:String16"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="stateffects">
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Properties">
    <xs:sequence>
      <xs:element name="status" minOccurs="0" maxOccurs="1" type="actions:StatusEffects"/>
      <xs:element name="castcost" minOccurs="1" maxOccurs="1" type="actions:CastCost"/>
      <xs:element name="element" minOccurs="0" maxOccurs="1" type="actions:Element"/>
      <xs:element name="intent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="target" type="actions:IntentTarget" use="required"/>
          <xs:attribute name="type" type="actions:IntentType" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="weapontype" type="actions:WeaponTypeList" minOccurs="0" maxOccurs="1"/>
      <xs:element name="maxlevel" type="actions:MaxLevel" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requirements" minOccurs="0" maxOccurs="1" type="actions:LearnRequirements"/>
      <xs:element name="effects" minOccurs="0" maxOccurs="1" type="actions:Effects"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CastCostType">
    
  </xs:complexType>

  <xs:complexType name="IntentsType">

  </xs:complexType>

  <xs:complexType name="MaxLevelType">

  </xs:complexType>

  <xs:complexType name="StatusEffectsType">

  </xs:complexType>

  <xs:complexType name="RequirementsType">

  </xs:complexType>

  <xs:complexType name="RestrictionsType">

  </xs:complexType>

  <xs:complexType name="CastableType">
    <xs:sequence>
      <xs:element name="castcost" type="actions:CastCostType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="intents" type="actions:IntentsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="maxlevel" type="actions:MaxLevelType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="statuseffects" type="actions:StatusEffectsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requirements" type="actions:RequirementsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="restrictions" type="actions:RestrictionsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="effects" type="actions:EffectsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="type" use="required"/>
    <xs:attribute name="icon" type="xs:byte" use="required"/>
    <xs:attribute name="book" type="actions:BookType" use="required"/>
    <xs:attribute name="element" use="optional">
      <xs:simpleType>
        <xs:list itemType="actions:Element"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lines" type="xs:byte" use="optional" default="0"/>
    <xs:attribute name="class" use="optional">
      <xs:simpleType>
        <xs:list itemType="hyb:Class"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="cooldown" use="optional" default="0" type="xs:int"/>
    <xs:attribute name="isassail" use="optional" default="false"/>
  </xs:complexType>
  
  <xs:element name="castable" type="actions:CastableType"/>

</xs:schema>
