XML/XSD/Castable.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:hyb="http://www.hybrasyl.com/XML/Common" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:castable="http://www.hybrasyl.com/XML/Castable" 
           targetNamespace="http://www.hybrasyl.com/XML/Castable" 
           elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      Hybrasyl Project - Hybrasyl XML Schema - Actions (Skills / Spells)
      This file is subject to the same licenses as Project Hybrasyl.
      (C) 2015 Project Hybrasyl (info@hybrasyl.com)
      Written by Justin Baugh (baughj@hybrasyl.com)
    </xs:documentation>
  </xs:annotation>

  <xs:import schemaLocation="Common.xsd" namespace="http://www.hybrasyl.com/XML/Common" />
 
  <!-- Damage effects type -->
  <xs:complexType name="Damage">
    <xs:all>
      <xs:element name="Flags" type="hyb:DamageFlags" />
      <xs:element name="Simple" type="hyb:SimpleQuantity" />
      <xs:element name="Formula" type="xs:string" />
    </xs:all>
    <xs:attribute name="Type" type="hyb:DamageType" />
  </xs:complexType>

  <!-- Heal effects type -->
  <xs:complexType name="Heal">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Simple" type="hyb:SimpleQuantity" />
      <xs:element name="Formula" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- Animation set -->
  <xs:complexType name="Animation">
    <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
    <xs:attribute name="Speed" type="xs:short" use="optional" default="100" />
  </xs:complexType>
  
  <!-- Skill/spell book location -->
  <xs:simpleType name="Book">
    <xs:restriction base="xs:token">
      <xs:enumeration value="PrimarySkill" />
      <xs:enumeration value="SecondarySkill" />
      <xs:enumeration value="UtilitySkill" />
      <xs:enumeration value="PrimarySpell" />
      <xs:enumeration value="SecondarySpell" />
      <xs:enumeration value="UtilitySpell" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Motion">
    <xs:attribute name="Class" use="optional">
      <xs:simpleType>
        <xs:list itemType="hyb:Class" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Id" type="xs:unsignedByte"/>
    <xs:attribute name="Speed" type="xs:short"/>
  </xs:complexType>

  <xs:complexType name="MotionsList">
    <xs:sequence>
      <xs:element name="Motion" type="castable:Motion" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Item specification (used for requirements / cast cost) -->
  <xs:complexType name="ItemSpecification">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Quantity" default="1" type="xs:unsignedByte" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Item specifications container element -->
  <xs:complexType name="ItemsSpecification">
    <xs:sequence>
      <xs:element name="Item" type="castable:ItemSpecification" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Casting cost -->
  <xs:complexType name="ClassCastCost">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Items" minOccurs="0" maxOccurs="1" type="castable:ItemsSpecification" />
      <xs:element name="Stat" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <!-- hp/mp can be expressed as percentages here -->
          <xs:attribute name="Hp" type="hyb:String8" default="0" />
          <xs:attribute name="Mp" type="hyb:String8" default="0" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Gold" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CastCost">
    <xs:complexContent>
      <xs:extension base="castable:ClassCastCost">
        <xs:attribute name="Class" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:Class" />
          </xs:simpleType>
        </xs:attribute>      
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CastCostList">
    <xs:sequence>
      <xs:element name="CastCost" type="castable:CastCost"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Intent container element -->
  <xs:complexType name="Intents">
    <xs:sequence>
      <xs:element name="Intent" type="castable:Intent" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Intent: What does the spell do, and whom does it affect? -->
  <xs:complexType name="Intent">
    <xs:attribute name="UseType" type="hyb:SpellUseType" default="NoTarget" use="optional"/>
    <xs:attribute name="Radius" type="xs:unsignedByte" default="0" />
    <xs:attribute name="Direction" type="hyb:IntentDirection" default="None"/>
    <xs:attribute name="Target" type="hyb:IntentTargetList" use="required" />
    <xs:attribute name="MaxTargets" type="xs:unsignedByte" default="0" />
  </xs:complexType>

  <!-- MaxLevel type: each class can have various maximum levels for a spell -->
  <xs:complexType name="MaxLevel">
    <xs:attribute name="Monk" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Warrior" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Peasant" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Wizard" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Priest" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Rogue" type="xs:unsignedByte" use="optional" />
  </xs:complexType>

  <!-- Requirements: What does a player need to learn this spell? -->
  <xs:complexType name="ClassRequirement">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <!-- Player level -->
      <xs:element name="Level" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
      </xs:element>
      <!-- Player ability level -->
      <xs:element name="Ab" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
      </xs:element>
      <!-- Items needed to learn spell -->
      <xs:element name="Items" minOccurs="0" maxOccurs="1" type="castable:ItemsSpecification" />
      <!-- Gold needed to learn spell -->
      <xs:element name="Gold" minOccurs="0" maxOccurs="1" type="xs:unsignedInt" />
      <!-- Stat requirements -->
      <xs:element name="Physical" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Str" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Int" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Wis" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Con" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Dex" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Hp" default="0" type="xs:unsignedInt" />
          <xs:attribute name="Mp" default="0" type="xs:unsignedInt" />
        </xs:complexType>
      </xs:element>
      <!-- Prerequisites (other spells which must be learned first) -->
      <xs:element name="Prerequisites" minOccurs="0" maxOccurs="0" type="castable:LearnPrerequisites" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Requirement">
    <xs:complexContent>
      <xs:extension base="castable:ClassRequirement">
        <xs:attribute name="Class" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:Class" />
          </xs:simpleType>
        </xs:attribute>      
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Requirements">
    <xs:sequence>
      <xs:element name="Requirement" type="castable:Requirement" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Prerequisites -->
  <xs:complexType name="LearnPrerequisites">
    <xs:sequence>
      <xs:element name="Prerequisite" minOccurs="1" maxOccurs="unbounded" type="castable:LearnPrerequisite" />
    </xs:sequence>
  </xs:complexType>

  <!-- Individual prerequisite -->
  <xs:complexType name="LearnPrerequisite">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Level" use="optional" type="xs:unsignedByte" />
        <xs:attribute name="Ab" use="optional" type="xs:unsignedByte"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Weapon type list (for casting restrictions) -->
  <xs:simpleType name="WeaponTypeList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:WeaponType" />
      </xs:simpleType>
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ClassTypeList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:Class" />
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Animations container element -->
  <xs:complexType name="SpellAnimations">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="OnCast" type="castable:AnimationGroup" minOccurs="0" maxOccurs="1" />
      <xs:element name="OnEnd" type="castable:AnimationGroup" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- Animation group -->
  <xs:complexType name="AnimationGroup">
    <xs:all>
      <xs:element name="Player" type="castable:MotionsList" minOccurs="0" maxOccurs="1" />
      <xs:element name="SpellEffect" type="castable:Animation" minOccurs="0" maxOccurs="1" />
      <xs:element name="Target" type="castable:Animation" minOccurs="0" maxOccurs="1" />
    </xs:all>
  </xs:complexType>


  <!-- Effects type -->
  <xs:complexType name="Effects">
    <xs:all>
      <xs:element name="Animations" type="castable:SpellAnimations" minOccurs="0" maxOccurs="1" />
      <xs:element name="Sound" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Heal" minOccurs="0" maxOccurs="1" type="castable:Heal" />
      <xs:element name="Damage" minOccurs="0" maxOccurs="1" type="castable:Damage" />
      <xs:element name="StatModifiers" minOccurs="0" maxOccurs="1" type="hyb:StatModifiers" />
      <xs:element name="Statuses" minOccurs="0" maxOccurs="1" type="castable:Statuses" />
    </xs:all>
    <xs:attribute name="ScriptOverride" type="xs:boolean" default="false"/>
  </xs:complexType>
  
  <xs:complexType name="Categories">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Category" type="castable:Category"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Category" >
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Unique" type="xs:boolean" default="false" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Restrictions on casting, such as types of equipment, or
  existing spells -->
    <xs:complexType name="Restrictions">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="WeaponType" type="hyb:WeaponType" maxOccurs="1" />
      <xs:element name="EquipType" type="hyb:EquipmentSlot" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Description">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Class" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:Class" />
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DescriptionList">
    <xs:sequence>
      <xs:element name="Description" type="castable:Description" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddStatus">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Duration" use="optional" default="0" type="xs:int"/>
        <xs:attribute name="Intensity" use="optional" default="1.0" type="xs:float"/>
        <xs:attribute name="Speed" default="1.0" type="xs:float"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Statuses">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Add" type="castable:AddStatus"/>
      <xs:element name="Remove" type="hyb:String8"/>
    </xs:sequence>  
  </xs:complexType>

  <!-- Castable type -->
  <xs:complexType name="Castable">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element name="Descriptions" type="castable:DescriptionList" minOccurs="0" maxOccurs="1" />
      <xs:element name="Name" type="hyb:String8" minOccurs="1" maxOccurs="1" />
      <xs:element name="Categories" type="castable:Categories" minOccurs="0" maxOccurs="1" />
      <xs:element name="CastCosts" type="castable:CastCostList" minOccurs="0" maxOccurs="1" />
      <xs:element name="Intents" type="castable:Intents" minOccurs="0" maxOccurs="1" />
      <xs:element name="MaxLevel" type="castable:MaxLevel" minOccurs="0" maxOccurs="1" />
      <xs:element name="Requirements" type="castable:Requirements" minOccurs="0" maxOccurs="1" />
      <xs:element name="Restrictions" type="castable:Restrictions" minOccurs="0" maxOccurs="1" />
      <xs:element name="Effects" type="castable:Effects" minOccurs="0" maxOccurs="1" />
      <xs:element name="Script" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <!-- Castable attributes -->
    <xs:attribute name="Type" use="required" />
    <xs:attribute name="Icon" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Book" type="castable:Book" use="required" />
    <xs:attribute name="Element" default="None" type="hyb:Element"/>
    <xs:attribute name="Lines" type="xs:unsignedByte" use="optional" default="0" />
    <xs:attribute name="Class" use="optional">
      <xs:simpleType>
        <xs:list itemType="hyb:Class" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Cooldown" use="optional" default="0" type="xs:int" />
    <xs:attribute name="IsAssail" use="optional" default="false" type="xs:boolean"/>
    <xs:attribute name="Reflectable" use="optional" default="true" type="xs:boolean"/>
  </xs:complexType>

  <!-- Bring it all together -->
  <xs:element name="Castable" type="castable:Castable" />
</xs:schema>