XML/XSD/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.hybrasyl.com/XML/Hybrasyl/2020-02"
    xmlns:hyb="http://www.hybrasyl.com/XML/Hybrasyl/2020-02"
    xmlns="http://www.hybrasyl.com/XML/Hybrasyl/2020-02"
    elementFormDefault="qualified"   
  >
  <xs:annotation>
    <xs:documentation xml:lang="en">
      This file is part of Project Hybrasyl.

      This program is free software; you can redistribute it and/or modify
      it under the terms of the Affero General Public License as published by
      the Free Software Foundation, version 3.

      This program is distributed in the hope that it will be useful, but
      without ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
      or FITNESS FOR A PARTICULAR PURPOSE. See the Affero General Public License
      for more details.

      You should have received a copy of the Affero General Public License along
      with this program. If not, see http://www.gnu.org/licenses/ .

      (C) 2020 ERISCO, LLC

      For contributors and individual authors please refer to CONTRIBUTORS.MD.

    </xs:documentation>
  </xs:annotation>

  <!-- Define common types and elements that we will reuse later -->

  <xs:simpleType name="String5">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="String8">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="String16">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="65534" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Shared types used by statuses and castables -->
  <!-- Generic type for expressing a simple quantity, either rnd(Min/Max) or a specific value -->
  <xs:complexType name="SimpleQuantity">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attribute name="Min" default="0" type="xs:nonNegativeInteger" />
        <xs:attribute name="Max" default="0" type="xs:nonNegativeInteger" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Stat effects (buffs or debuffs) container element -->
  <xs:complexType name="StatModifiers">
    <xs:attribute name="Str" default="0" type="xs:byte" />
    <xs:attribute name="Int" default="0" type="xs:byte" />
    <xs:attribute name="Wis" default="0" type="xs:byte" />
    <xs:attribute name="Con" default="0" type="xs:byte" />
    <xs:attribute name="Dex" default="0" type="xs:byte" />
    <xs:attribute name="Hp" default="0" type="xs:int" />
    <xs:attribute name="Mp" default="0" type="xs:int" />
    <xs:attribute name="Hit" default="0" type="xs:byte" />
    <xs:attribute name="Dmg" default="0" type="xs:byte" />
    <xs:attribute name="Ac" default="0" type="xs:byte" />
    <xs:attribute name="Regen" default="0" type="xs:byte" />
    <xs:attribute name="Mr" default="0" type="xs:byte" />
    <xs:attribute name="OffensiveElement" type="hyb:Element" default="None"/>
    <xs:attribute name="DefensiveElement" type="hyb:Element" default="None"/>
    <xs:attribute name="DamageModifier" type="xs:float"/>
    <xs:attribute name="HealModifier" type="xs:float"/>
    <xs:attribute name="DamageType" type="hyb:DamageType"/>
    <xs:attribute name="ReflectChance" type="xs:float"/>
    <xs:attribute name="ReflectIntensity" type="xs:float"/>
  </xs:complexType>

  <!-- Damage flags type -->
  <xs:simpleType name="DamageFlags">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="None"/>
              <xs:enumeration value="Scaled" />
              <xs:enumeration value="Resistance" />
              <xs:enumeration value="Threat" />
              <xs:enumeration value="Nonlethal"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleType>

  <!-- Animation set -->
  <xs:complexType name="Animation">
    <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
    <xs:attribute name="Speed" type="xs:short" use="optional" default="100" />
  </xs:complexType>

  <!-- Spell use type -->
  <xs:simpleType name="SpellUseType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Unusable"/>
      <xs:enumeration value="Prompt"/>
      <xs:enumeration value="Target"/>
      <xs:enumeration value="FourDigit"/>
      <xs:enumeration value="ThreeDigit"/>
      <xs:enumeration value="NoTarget"/>
      <xs:enumeration value="TwoDigit"/>
      <xs:enumeration value="Onedigit"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Skill intent targets -->
  <xs:simpleType name="IntentTarget">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Hostile" />
      <xs:enumeration value="Friendly" />
      <xs:enumeration value="Pvp" />
      <xs:enumeration value="Group" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Intent direction type -->
  <xs:simpleType name="IntentDirection">
    <xs:restriction base="xs:token">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Front" />
      <xs:enumeration value="Back" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Nearby" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Weapon type list (for casting restrictions) -->
  <xs:simpleType name="IntentTargetList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:IntentTarget" />
      </xs:simpleType>
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Loot structures (used by creature / loot) -->
  <!-- An item defined in a loot table-->
  <xs:complexType name="LootItem">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Max" type="xs:int" default="0" use="optional"/>
        <xs:attribute name="Unique" type="xs:boolean" default="false" use="optional"/>
        <xs:attribute name="Always" type="xs:boolean" default="false" use="optional"/>
        <xs:attribute name="Variants" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:String8" />
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LootTableItemList">
    <xs:sequence>
      <xs:element name="Item" type="hyb:LootItem" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Rolls" type="xs:int" default="0"/>
    <xs:attribute name="Chance" type="xs:double" default="0.0"/>
  </xs:complexType>

  <!-- In both cases for gold / xp, if Max == 0, we use Min as default value -->
  <xs:complexType name="LootTableGold">
    <xs:attribute name="Min" type="xs:unsignedInt" default="0"/>
    <xs:attribute name="Max" type="xs:unsignedInt" default="0"/>
  </xs:complexType>

  <xs:complexType name="LootTableXp">
    <xs:attribute name="Min" type="xs:unsignedInt" default="0"/>
    <xs:attribute name="Max" type="xs:unsignedInt" default="0"/>
  </xs:complexType>

  <xs:complexType name="LootTable">
    <xs:sequence>
      <xs:element name="Items" minOccurs="0" maxOccurs="unbounded" type="hyb:LootTableItemList"/>
      <xs:element name="Gold" minOccurs="0" maxOccurs="1" type="hyb:LootTableGold"/>
      <xs:element name="Xp" minOccurs="0" maxOccurs="1" type="hyb:LootTableXp"/>
    </xs:sequence>
    <!-- Default is to always drop. -->
    <xs:attribute name="Rolls" type="xs:int" default="0"/>
    <xs:attribute name="Chance" type="xs:double" default="0.0"/>
  </xs:complexType>

  <!-- Various reusable types used by items & friends -->

  <!-- Item colors -->
  <xs:simpleType name="ItemColor">
    <xs:restriction base="xs:token">
      <xs:enumeration value="None" />
      <xs:enumeration value="Black" />
      <xs:enumeration value="Red" />
      <xs:enumeration value="Orange" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Teal" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Purple" />
      <xs:enumeration value="DarkGreen" />
      <xs:enumeration value="Green" />
      <xs:enumeration value="LightOrange" />
      <xs:enumeration value="Brown" />
      <xs:enumeration value="Grey" />
      <xs:enumeration value="DarkBlue" />
      <xs:enumeration value="Tan" />
      <xs:enumeration value="White" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ItemBodyStyle">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Transparent" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="MaleBlack" />
      <xs:enumeration value="MaleRed" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ItemFlags">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="Bound" />
              <xs:enumeration value="Depositable" />
              <xs:enumeration value="Enchantable" />
              <xs:enumeration value="Consecratable" />
              <xs:enumeration value="Tailorable" />
              <xs:enumeration value="Smithable" />
              <xs:enumeration value="Exchangeable" />
              <xs:enumeration value="Vendorable" />
              <xs:enumeration value="Perishable" />
              <xs:enumeration value="Unique" />
              <xs:enumeration value="Master" />
              <xs:enumeration value="Unique-Equipped" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleType>

  <!-- Status effects -->

  <xs:simpleType name="CreatureCondition">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="Freeze" />
              <xs:enumeration value="Sleep" />
              <xs:enumeration value="Paralyze" />
              <xs:enumeration value="Blind" />
              <xs:enumeration value="Coma" />
              <xs:enumeration value="Poison" />
              <xs:enumeration value="Mist" />
              <xs:enumeration value="Regen" />
              <xs:enumeration value="Sight" />
              <xs:enumeration value="Invisible" />
              <xs:enumeration value="Mute" />
              <xs:enumeration value="ReflectPhysical" />
              <xs:enumeration value="ReflectMagical" />
              <xs:enumeration value="Invulnerable" />
              <xs:enumeration value="Charm" />
              <xs:enumeration value="IncreaseDamage" />
              <xs:enumeration value="ReduceDamage" />
              <xs:enumeration value="AbsorbSpell" />
              <xs:enumeration value="ProhibitItemUse" />
              <xs:enumeration value="ProhibitEquipChange" />
              <xs:enumeration value="ProhibitSpeech" />
              <xs:enumeration value="ProhibitWhisper" />
              <xs:enumeration value="ProhibitShout" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
      <xs:maxLength value="19" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Classes (for item restrictions) -->
  <xs:simpleType name="Class">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Peasant" />
      <xs:enumeration value="Warrior" />
      <xs:enumeration value="Rogue" />
      <xs:enumeration value="Wizard" />
      <xs:enumeration value="Priest" />
      <xs:enumeration value="Monk" />
    </xs:restriction>
  </xs:simpleType>

  <!-- A list of classes -->
  <xs:simpleType name="ClassList">
      <xs:list itemType="hyb:Class" />
  </xs:simpleType>
 
  <!--  Gender (for item restrictions) -->
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Neutral" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Elements -->
  <xs:simpleType name="Element">
    <xs:restriction base="xs:token">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Fire" />
      <xs:enumeration value="Water" />
      <xs:enumeration value="Wind" />
      <xs:enumeration value="Earth" />
      <xs:enumeration value="Light" />
      <xs:enumeration value="Dark" />
      <xs:enumeration value="Wood" />
      <xs:enumeration value="Metal" />
      <xs:enumeration value="Undead" />
      <xs:enumeration value="Random" />
    </xs:restriction>
  </xs:simpleType>

   <xs:simpleType name="ElementList">
    <xs:list itemType="hyb:Element"/>
  </xs:simpleType>
  
  <xs:simpleType name="IntentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Hostile"/>
      <!-- Hostile to players and can be attacked -->
      <xs:enumeration value="Passive"/>
      <!-- Passive to players and cannot be attacked -->
      <xs:enumeration value="Neutral"/>
      <!-- Passive to players and can be attacked -->

    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WeaponType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="OneHand" />
      <xs:enumeration value="TwoHand" />
      <xs:enumeration value="Dagger" />
      <xs:enumeration value="Staff" />
      <xs:enumeration value="Claw" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DamageType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Physical" />
      <xs:enumeration value="Magical" />
      <xs:enumeration value="Elemental" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EquipmentSlot">
    <xs:restriction base="xs:token">
      <xs:enumeration value="None" />
      <xs:enumeration value="Weapon" />
      <xs:enumeration value="Armor" />
      <xs:enumeration value="Shield" />
      <xs:enumeration value="Helmet" />
      <xs:enumeration value="Earring" />
      <xs:enumeration value="Necklace" />
      <xs:enumeration value="LeftHand" />
      <xs:enumeration value="RightHand" />
      <xs:enumeration value="LeftArm" />
      <xs:enumeration value="RightArm" />
      <xs:enumeration value="Waist" />
      <xs:enumeration value="Leg" />
      <xs:enumeration value="Foot" />
      <xs:enumeration value="FirstAcc" />
      <xs:enumeration value="Trousers" />
      <xs:enumeration value="Coat" />
      <xs:enumeration value="SecondAcc" />
      <xs:enumeration value="ThirdAcc" />
      <xs:enumeration value="Gauntlet" />
      <xs:enumeration value="Ring" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Direction type -->
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:token">
      <xs:enumeration value="North" />
      <xs:enumeration value="East" />
      <xs:enumeration value="South" />
      <xs:enumeration value="West" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Map flags type -->
  <xs:simpleType name="MapFlags">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="Snow" />
              <xs:enumeration value="Rain" />
              <xs:enumeration value="Dark" />
              <xs:enumeration value="NoMap" />
              <xs:enumeration value="Winter" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>

  <!-- NPC joblist type -->
  <xs:simpleType name="NpcJobList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="Vend" />
              <xs:enumeration value="Bank" />
              <xs:enumeration value="Train" />
              <xs:enumeration value="Repair" />
              <xs:enumeration value="Post" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NpcRepairType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Armor"/>
      <xs:enumeration value="Weapon"/>
      <xs:enumeration value="All"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Map warp restrictions type (used by warps/worldwarps) -->
  <xs:complexType name="WarpRestrictions">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Level" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Ab" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
      </xs:element>
      <xs:element name="NoMobUse" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Variant property type (string, must be numeric or contain a percent sign -->
  <xs:simpleType name="VariantProperty">
    <xs:restriction base="xs:string">
      <xs:pattern value="-{0,1}[0-9]*%{0,1}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VariantInteger">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- IP address type (used for Hybrasyl config files), and yes, IPv4 only -->
  <xs:simpleType name="IpAddress">
    <xs:restriction base="xs:string">
      <xs:pattern value="((((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))\.){3}((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9])))(\-((((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))\.){3}((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))))?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CharacterName">
    <xs:restriction base="xs:token">
      <xs:minLength value="4" />
      <xs:maxLength value="12" />
      <xs:pattern value="[a-zA-Z]*" />
    </xs:restriction>
  </xs:simpleType>

  <!-- A list of character names -->
  <xs:simpleType name="CharacterNameList">
    <xs:list itemType="hyb:CharacterName" />
  </xs:simpleType>

  <!-- Message board types -->
  <xs:simpleType name="BoardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Messageboard"/>
      <xs:enumeration value="Sign"/>
    </xs:restriction>
  </xs:simpleType>
                 
 
  <!-- Base definition for a monster -->
  <xs:complexType name="Creature">
    <xs:sequence>
      <xs:element name="Name" type="hyb:String8" minOccurs="1" maxOccurs="1" />
      <xs:element name="Description" type="hyb:String8" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Sprite" use="required" type="xs:unsignedShort" />
  </xs:complexType>

  <!-- Spawngroup -->
  <xs:complexType name="SpawnGroup" xmlns="http://www.hybrasyl.com/XML/Hybrasyl/2020-02">
    <xs:sequence>
      <xs:element xmlns="http://www.hybrasyl.com/XML/Hybrasyl/2020-02" name="Maps" type="hyb:MapList" minOccurs="1" maxOccurs="1"/>
      <xs:element xmlns="http://www.hybrasyl.com/XML/Hybrasyl/2020-02" name="Spawns" type="hyb:SpawnList" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Disabled" use="optional" default="false" type="xs:boolean"/>
  </xs:complexType>

  <!-- A list of maps a spawngroup controls-->
  <xs:complexType name="MapList">
    <xs:sequence>
      <xs:element name="Map" type="hyb:SpawnMap" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SpawnMap">
    <xs:attribute name="Name" type="hyb:String8" use ="required"/>
    <xs:attribute name="MinSpawn" type="xs:int" use ="required"/>
    <xs:attribute name="MaxSpawn" type="xs:int" use ="required"/>
    <xs:attribute name="Limit" type="xs:int" use ="required"/>
    <xs:attribute name="Interval" type="xs:int" use ="required"/>
    <xs:attribute name="Disabled" type="xs:boolean" default="false"/>
  </xs:complexType>

  <!-- Spawns -->
  <xs:complexType name="SpawnList">
    <xs:sequence>
      <xs:element name="Spawn" type="hyb:Spawn" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Definition for an actual spawn/monster (mob variant)-->
  <xs:complexType name="Spawn">
    <xs:sequence>
      <xs:element name="Script" type="hyb:CreatureScript" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Intents" type="hyb:IntentList" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Respawn" type="hyb:Respawn" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Damage" type="hyb:SpawnDamage" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Defense" type="hyb:Defense" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Stats" type="hyb:Stats" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Loot" type="hyb:LootList" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Castables" type="hyb:CastableList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Base" type="hyb:String8" use="required"/>
    <xs:attribute name="Variance" type="xs:float" use="optional" default="1.0"/>
  </xs:complexType>

  <!-- Whether or not a specified script overrides the spawning behavior or supplements it-->
  <xs:simpleType name="ScriptType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Override"/>
      <xs:enumeration value="Supplement"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Creature script name -->
  <xs:complexType name="CreatureScript">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute type="hyb:ScriptType" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- List of intents -->
  <xs:complexType name="IntentList">
    <xs:sequence>
      <xs:element name="Npc" type="hyb:Intent" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Player" type="hyb:Intent" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Monster" type="hyb:Intent" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Spawn intent (hostile/friendly/etc) -->
  <xs:complexType name="Intent">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute type="hyb:IntentType" name="intent"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Respawn information (how often, min/max, percentage as a function of all mobs on a map -->
  <xs:complexType name="Respawn">
    <xs:attribute name="Interval" type="xs:int" default="30" use="optional"/>
    <xs:attribute name="Min" type="xs:int" default="1" use="optional"/>
    <xs:attribute name="Max" type="xs:int" use="optional"/>
    <xs:attribute name="Percentage" type="xs:float" use="optional"/>
  </xs:complexType>

  <!-- Damage a spawn can do (min/max, elment, type (physical/magical etc)) -->
  <xs:complexType name="SpawnDamage">
    <xs:attribute name="Min" type="xs:int" default="0" use="optional"/>
    <xs:attribute name="Max" type="xs:int" default="0" use="optional"/>
    <xs:attribute name="Element" use="optional" type="hyb:ElementList"/>
    <xs:attribute name="Type" type="hyb:DamageType" default="Physical" use="optional"/>
    <xs:attribute name="Dmg" type="xs:unsignedByte" use="optional" default="0"/>
    <xs:attribute name="Hit" type="xs:unsignedByte" use="optional" default="0"/>
  </xs:complexType>

  <!-- A creature's defense, including element, magic resistance and armor class -->
  <xs:complexType name="Defense">
    <xs:attribute name="Mr" type="xs:int" default="0" use="optional"/>
    <xs:attribute name="Ac" type="xs:int" use="required"/>
    <xs:attribute name="Element" use="optional" type="hyb:ElementList"/>
    <xs:attribute name="Regen" type="xs:unsignedByte" use="optional" default="0"/>
  </xs:complexType>

  <!-- Stats of a creature (a subset of player attributes are supported here) -->
  <xs:complexType name="Stats">
    <xs:attribute name="Hp" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="Mp" type="xs:unsignedInt" use="optional" default="0"/>
    <xs:attribute name="Level" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Str" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Int" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Wis" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Con" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Dex" type="xs:unsignedByte" use="required" />
  </xs:complexType>

  <!-- List of loot tables which can be defined <table> or imported from external sources <import> -->
  <xs:complexType name="LootList">
    <xs:sequence>
      <xs:element name="Set" type="hyb:LootImport" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Table" type="hyb:LootTable" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Gold" type="hyb:LootGold" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Xp" type="xs:unsignedInt" default="0" use="optional"/>
  </xs:complexType>

  <!-- Imported loot table-->
  <xs:complexType name="LootImport">
    <xs:attribute name="Name" type="hyb:String8"/>
    <xs:attribute name="Rolls" type="xs:int"/>
    <xs:attribute name="Chance" type="xs:float"/>
  </xs:complexType>

  <!-- Amount of gold defined in a loot table, in addition to any base gold defined in <loot> -->
  <xs:complexType name="LootGold">
    <xs:attribute name="Min" type="xs:unsignedInt" default="1" use="optional"/>
    <xs:attribute name="Max" type="xs:unsignedInt" default="1" use="optional"/>
  </xs:complexType>

  <!-- Amount of XP defined in a loot table -->
  <xs:complexType name="LootXp">
    <xs:attribute name="Min" type="xs:unsignedInt" default="1" use="optional"/>
    <xs:attribute name="Max" type="xs:unsignedInt" default="1" use="optional"/>
  </xs:complexType>

  <!-- List of castables a creature is allowed to use -->
  <xs:complexType name="CastableList">
    <xs:sequence>
      <xs:element name="Castable" type="hyb:SpawnCastable" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SpawnCastable">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Cooldown" type="xs:int" default="1" use="optional"/>
        <xs:attribute name="Chance" type="xs:float" default="1" use="optional"/>
        <xs:attribute name="Always" type="xs:boolean" default="false" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NpcRoleTrainCastable">
    <xs:attribute name="Type" type="hyb:String8"/>
    <xs:attribute name="Class" type="hyb:ClassList"/>
    <xs:attribute name="Name" type="hyb:String8"/>
  </xs:complexType>

  <xs:complexType name="NpcRoleTrain">
    <xs:sequence>
      <xs:element name="Castable" type="hyb:NpcRoleTrainCastable" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NpcRoleVendItemList">
    <xs:sequence>
      <xs:element name="Item" type="hyb:NpcRoleVendItem" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NpcRoleVendItem">
    <xs:attribute name="Name" type="hyb:String8"/>
    <xs:attribute name="Quantity" type="xs:int"/>
    <xs:attribute name="Restock" type="xs:int"/>
    <xs:attribute name="Tab" type="hyb:String8"/>
  </xs:complexType>

  <xs:complexType name="NpcRoleVend">
    <xs:sequence>
      <xs:element name="Items" type="hyb:NpcRoleVendItemList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Tabs">
      <xs:simpleType>
        <xs:list itemType="hyb:String8"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="NpcRolePostSurcharge">
    <xs:attribute name="Nation" type="hyb:String8"/>
    <xs:attribute name="Percent" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="NpcRolePost">
    <xs:sequence>
      <xs:element name="Surcharge" minOccurs="1" maxOccurs="unbounded" type="hyb:NpcRolePostSurcharge"/>
    </xs:sequence>
    <xs:attribute name="Receive" type="hyb:String8"/>
  </xs:complexType>

  <xs:complexType name="NpcRoleRepair">
    <xs:attribute name="Nation" type="hyb:String8"/>
    <xs:attribute name="Discount" type="xs:int"/>
    <xs:attribute name="Type">
      <xs:simpleType>
        <xs:list itemType="hyb:NpcRepairType"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="NpcRoleBank">
    <xs:attribute name="Discount" type="hyb:String8"/>
  </xs:complexType>


  <xs:complexType name="NpcRoleList">
    <xs:sequence>
      <xs:element name="Train" type="hyb:NpcRoleTrain" maxOccurs="1" minOccurs="0" />
      <xs:element name="Vend" type="hyb:NpcRoleVend" maxOccurs="1" minOccurs="0" />
      <xs:element name="Post" type="hyb:NpcRolePost" maxOccurs="1" minOccurs="0" />
      <xs:element name="Repair" type="hyb:NpcRoleRepair" maxOccurs="1" minOccurs="0" />
      <xs:element name="Bank" type="hyb:NpcRoleBank" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Npc">
    <xs:sequence>
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="hyb:String8" />
      <xs:element name="DisplayName" minOccurs="0" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Appearance" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Sprite" type="xs:unsignedShort" use="required" />
          <xs:attribute name="Portrait" type="hyb:String8" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Roles" type="hyb:NpcRoleList" minOccurs="0" maxOccurs="1" />
      <xs:element name="AllowDead" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Inventory" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="Item">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="hyb:String8">
                    <xs:attribute name="Quantity" type="xs:unsignedInt" use="optional" default="0" />
                    <xs:attribute name="Refresh" type="xs:unsignedInt" use="optional" default="0" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Gold" type="xs:unsignedByte" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="X" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Y" type="xs:unsignedByte" use="required" />
  </xs:complexType>

</xs:schema>
