XML/XSD/Common.xsd

<?xml version="1.0"
      encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hybrasyl.com/XML/Hybrasyl/2020-02"
           xmlns:hyb="http://www.hybrasyl.com/XML/Hybrasyl/2020-02"
           xmlns="http://www.hybrasyl.com/XML/Hybrasyl/2020-02" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation xml:lang="en">
            This file is part of Project Hybrasyl.

            This program is free software; you can redistribute it and/or modify
            it under the terms of the Affero General Public License as published by
            the Free Software Foundation, version 3.

            This program is distributed in the hope that it will be useful, but
            without ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
            or FITNESS FOR A PARTICULAR PURPOSE. See the Affero General Public License
            for more details.

            You should have received a copy of the Affero General Public License along
            with this program. If not, see http://www.gnu.org/licenses/ .

            (C) 2020 ERISCO, LLC

            For contributors and individual authors please refer to CONTRIBUTORS.MD.

        </xs:documentation>
    </xs:annotation>

    <!-- Define common types and elements that we will reuse later -->

    <xs:simpleType name="String5">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="32" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String8">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String16">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="65534" />
        </xs:restriction>
    </xs:simpleType>

    <!-- An odd byte, used in castables -->
    <xs:simpleType name="OddByte">
        <xs:restriction base="xs:unsignedByte">
            <xs:pattern value="[13579]" />
            <xs:pattern value="[1-9][13579]" />
            <xs:pattern value="1[0-9][13579]" />
            <xs:pattern value="2[0-4][13579]" />
            <xs:pattern value="25[135]" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Shared types used by statuses and castables -->
    <!-- Generic type for expressing a simple quantity, either rnd(Min/Max) or a specific value -->
    <xs:complexType name="SimpleQuantity">
        <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
                <xs:attribute name="Min" default="0" type="xs:unsignedInt" />
                <xs:attribute name="Max" default="0" type="xs:unsignedInt" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Stat effects (buffs or debuffs) container element -->
    <!-- Can contain formulas or numbers -->

    <xs:complexType name="ResistanceList">
        <xs:sequence>
            <xs:element name="Resistance" type="hyb:ElementalResistance" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ElementalResistance">
        <xs:attribute name="Type" type="hyb:ElementType" use="required"/>
        <xs:attribute name="Modifier" type="xs:float" use="required"/>
    </xs:complexType>

    <xs:complexType name="StatModifiers">
        <xs:sequence>
            <xs:element name="Resistances" type="hyb:ResistanceList" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="BaseStr" type="xs:string" />
        <xs:attribute name="BaseInt" type="xs:string" />
        <xs:attribute name="BaseWis" type="xs:string" />
        <xs:attribute name="BaseCon" type="xs:string" />
        <xs:attribute name="BaseDex" type="xs:string" />
        <xs:attribute name="BaseHp" type="xs:string" />
        <xs:attribute name="BaseMp" type="xs:string" />
        <xs:attribute name="CurrentHp" type="xs:string" />
        <xs:attribute name="CurrentMp" type="xs:string" />
        <xs:attribute name="CurrentGold" type="xs:string" />
        <xs:attribute name="CurrentXp" type="xs:string" />
        <xs:attribute name="CurrentFaith" type="xs:string"/>
        <xs:attribute name="BaseHit" type="xs:string" />
        <xs:attribute name="BaseDmg" type="xs:string" />
        <xs:attribute name="BaseAc" type="xs:string" />
        <xs:attribute name="BaseRegen" type="xs:string" />
        <xs:attribute name="BaseMr" type="xs:string" />
        <xs:attribute name="BaseCrit" type="xs:string" />
        <xs:attribute name="BaseMagicCrit" type="xs:string" />
        <xs:attribute name="BaseInboundDamageToMp" type="xs:string" />
        <xs:attribute name="BaseOffensiveElement" type="hyb:ElementType" default="None" />
        <xs:attribute name="BaseDefensiveElement" type="hyb:ElementType" default="None" />
        <xs:attribute name="BaseExtraFaith" type="xs:string"/>
        <xs:attribute name="OffensiveElementOverride" type="hyb:ElementType" default="None" />
        <xs:attribute name="DefensiveElementOverride" type="hyb:ElementType" default="None" />
        <xs:attribute name="BaseInboundDamageModifier" type="xs:string" />
        <xs:attribute name="BaseOutboundDamageModifier" type="xs:string" />
        <xs:attribute name="BaseInboundHealModifier" type="xs:string" />
        <xs:attribute name="BaseOutboundHealModifier" type="xs:string" />
        <xs:attribute name="DamageType" type="xs:string" />
        <xs:attribute name="BaseReflectMagical" type="xs:string" />
        <xs:attribute name="BaseReflectPhysical" type="xs:string" />
        <xs:attribute name="BaseExtraGold" type="xs:string" />
        <xs:attribute name="BaseDodge" type="xs:string" />
        <xs:attribute name="BaseMagicDodge" type="xs:string" />
        <xs:attribute name="BaseExtraXp" type="xs:string" />
        <xs:attribute name="BaseExtraItemFind" type="xs:string" />
        <xs:attribute name="BaseLifeSteal" type="xs:string" />
        <xs:attribute name="BaseManaSteal" type="xs:string" />
        <xs:attribute name="BonusStr" type="xs:string" />
        <xs:attribute name="BonusInt" type="xs:string" />
        <xs:attribute name="BonusWis" type="xs:string" />
        <xs:attribute name="BonusCon" type="xs:string" />
        <xs:attribute name="BonusDex" type="xs:string" />
        <xs:attribute name="BonusHp" type="xs:string" />
        <xs:attribute name="BonusMp" type="xs:string" />
        <xs:attribute name="BonusHit" type="xs:string" />
        <xs:attribute name="BonusDmg" type="xs:string" />
        <xs:attribute name="BonusAc" type="xs:string" />
        <xs:attribute name="BonusRegen" type="xs:string" />
        <xs:attribute name="BonusMr" type="xs:string" />
        <xs:attribute name="BonusCrit" type="xs:string" />
        <xs:attribute name="BonusMagicCrit" type="xs:string" />
        <xs:attribute name="BonusInboundDamageModifier" type="xs:string" />
        <xs:attribute name="BonusOutboundDamageModifier" type="xs:string" />
        <xs:attribute name="BonusInboundHealModifier" type="xs:string" />
        <xs:attribute name="BonusOutboundHealModifier" type="xs:string" />
        <xs:attribute name="BonusReflectMagical" type="xs:string" />
        <xs:attribute name="BonusReflectPhysical" type="xs:string" />
        <xs:attribute name="BonusExtraGold" type="xs:string" />
        <xs:attribute name="BonusDodge" type="xs:string" />
        <xs:attribute name="BonusMagicDodge" type="xs:string" />
        <xs:attribute name="BonusExtraXp" type="xs:string" />
        <xs:attribute name="BonusExtraItemFind" type="xs:string" />
        <xs:attribute name="BonusLifeSteal" type="xs:string" />
        <xs:attribute name="BonusManaSteal" type="xs:string" />
        <xs:attribute name="BonusInboundDamageToMp" type="xs:string" />
        <xs:attribute name="BonusExtraFaith" type="xs:string"/>
    </xs:complexType>

    <!-- Damage flags type -->
    <xs:simpleType name="DamageFlags">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="None" />
                            <xs:enumeration value="NoResistance" />
                            <xs:enumeration value="NoThreat" />
                            <xs:enumeration value="Nonlethal" />
                            <xs:enumeration value="NoDodge" />
                            <xs:enumeration value="NoCrit" />
                            <xs:enumeration value="NoElement" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:restriction>
    </xs:simpleType>

    <!-- Animation set -->
    <xs:complexType name="Animation">
        <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
        <xs:attribute name="Speed" type="xs:short" use="optional" default="100" />
    </xs:complexType>

    <!-- Spell use type -->
    <xs:simpleType name="SpellUseType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Unusable" />
            <xs:enumeration value="Prompt" />
            <xs:enumeration value="Target" />
            <xs:enumeration value="FourDigit" />
            <xs:enumeration value="ThreeDigit" />
            <xs:enumeration value="NoTarget" />
            <xs:enumeration value="TwoDigit" />
            <xs:enumeration value="OneDigit" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Skill intent targets -->
    <xs:simpleType name="IntentFlags">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Hostile" />
            <xs:enumeration value="Friendly" />
            <xs:enumeration value="Pvp" />
            <xs:enumeration value="Group" />
            <xs:enumeration value="Self" />
        </xs:restriction>
    </xs:simpleType>

    <!-- rotation types (for monster AI) -->
    <xs:simpleType name="RotationType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Offense" />
            <xs:enumeration value="Defense" />
            <xs:enumeration value="OnDeath" />
            <xs:enumeration value="NearDeath" />
            <xs:enumeration value="Assail" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Intent direction type -->
    <xs:simpleType name="IntentDirection">
        <xs:restriction base="xs:token">
            <!-- This unfortunately ends up being needed by xsd2code, as it can't properly handle nullable enum types -->
            <xs:enumeration value="None" />
            <xs:enumeration value="Front" />
            <xs:enumeration value="Back" />
            <xs:enumeration value="Left" />
            <xs:enumeration value="Right" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Weapon type list (for casting restrictions) -->
    <xs:simpleType name="IntentFlagsList">
        <xs:restriction>
            <xs:simpleType>
                <xs:list itemType="hyb:IntentFlags" />
            </xs:simpleType>
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Loot structures (used by creature / loot) -->
    <!-- An item defined in a loot table-->
    <xs:complexType name="LootItem">
        <xs:simpleContent>
            <xs:extension base="hyb:String8">
                <xs:attribute name="Max" type="xs:int" default="0" use="optional" />
                <xs:attribute name="Unique" type="xs:boolean" default="false" use="optional" />
                <xs:attribute name="Always" type="xs:boolean" default="false" use="optional" />
                <xs:attribute name="Variants" use="optional">
                    <xs:simpleType>
                        <xs:list itemType="hyb:String8" />
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LootTableItemList">
        <xs:sequence>
            <xs:element name="Item" type="hyb:LootItem" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Rolls" type="xs:int" default="0" />
        <xs:attribute name="Chance" type="xs:double" default="0.0" />
    </xs:complexType>

    <!-- In both cases for gold / xp, if Max == 0, we use Min as default value -->
    <xs:complexType name="LootTableGold">
        <xs:attribute name="Min" type="xs:unsignedInt" default="0" />
        <xs:attribute name="Max" type="xs:unsignedInt" default="0" />
    </xs:complexType>

    <xs:complexType name="LootTableXp">
        <xs:attribute name="Min" type="xs:unsignedInt" default="0" />
        <xs:attribute name="Max" type="xs:unsignedInt" default="0" />
    </xs:complexType>

    <xs:complexType name="LootTable">
        <xs:sequence>
            <xs:element name="Items" minOccurs="0" maxOccurs="unbounded" type="hyb:LootTableItemList" />
            <xs:element name="Gold" minOccurs="0" maxOccurs="1" type="hyb:LootTableGold" />
            <xs:element name="Xp" minOccurs="0" maxOccurs="1" type="hyb:LootTableXp" />
        </xs:sequence>
        <!-- Default is to always drop. -->
        <xs:attribute name="Rolls" type="xs:int" default="0" />
        <xs:attribute name="Chance" type="xs:double" default="0.0" />
    </xs:complexType>

    <!-- Various reusable types used by items & friends -->

    <!-- Item colors -->
    <xs:simpleType name="ItemColor">
        <xs:restriction base="xs:token">
            <xs:enumeration value="None" />
            <xs:enumeration value="Black" />
            <xs:enumeration value="Red" />
            <xs:enumeration value="Auburn" />
            <xs:enumeration value="Butter" />
            <xs:enumeration value="Aqua" />
            <xs:enumeration value="Blue" />
            <xs:enumeration value="Plum" />
            <xs:enumeration value="Forest" />
            <xs:enumeration value="Green" />
            <xs:enumeration value="Sienna" />
            <xs:enumeration value="Brown" />
            <xs:enumeration value="Charcoal" />
            <xs:enumeration value="Navy" />
            <xs:enumeration value="Acorn" />
            <xs:enumeration value="White" />
            <xs:enumeration value="Pink" />
            <xs:enumeration value="Honeydew" />
            <xs:enumeration value="Orange" />
            <xs:enumeration value="Platinum" />
            <xs:enumeration value="Midnight" />
            <xs:enumeration value="Orchid" />
            <xs:enumeration value="Lavender" />
            <xs:enumeration value="Fuschia" />
            <xs:enumeration value="Cerise" />
            <xs:enumeration value="Ocean" />
            <xs:enumeration value="HotPink" />
            <xs:enumeration value="Seafoam" />
            <xs:enumeration value="Amethyst" />
            <xs:enumeration value="Peach" />
            <xs:enumeration value="Sky" />
            <xs:enumeration value="Lime" />
            <xs:enumeration value="Jade" />
            <xs:enumeration value="Honey" />
            <xs:enumeration value="Cobalt" />
            <xs:enumeration value="Cocoa" />
            <xs:enumeration value="Wine" />
            <xs:enumeration value="Kelp" />
            <xs:enumeration value="Wine2" />
            <xs:enumeration value="Teal" />
            <xs:enumeration value="Copper" />
            <xs:enumeration value="Curry" />
            <xs:enumeration value="Moss" />
            <xs:enumeration value="Grass" />
            <xs:enumeration value="Lapis" />
            <xs:enumeration value="Maroon" />
            <xs:enumeration value="TiNfOiL" />
            <xs:enumeration value="Aquamarine" />
            <xs:enumeration value="Leaf" />
            <xs:enumeration value="Purple" />
            <xs:enumeration value="Scarlet" />
            <xs:enumeration value="Lemon" />
            <xs:enumeration value="Puce" />
            <xs:enumeration value="Coral" />
            <xs:enumeration value="Crimson" />
            <xs:enumeration value="Gold" />
            <xs:enumeration value="Silver" />
            <xs:enumeration value="Fire" />
            <xs:enumeration value="Stormy" />
            <xs:enumeration value="Cherry" />
            <xs:enumeration value="Mint" />
            <xs:enumeration value="Cerulean" />
            <xs:enumeration value="Twilight" />
            <xs:enumeration value="Quartz" />
            <xs:enumeration value="Turquoise" />
            <xs:enumeration value="Peridot" />
            <xs:enumeration value="Nebula" />
            <xs:enumeration value="Bubblegum" />
            <xs:enumeration value="Cyan" />
            <xs:enumeration value="Sable" />
            <xs:enumeration value="Mauve" />
            <xs:enumeration value="Dusk" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemBodyStyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Transparent" />
            <xs:enumeration value="Male" />
            <xs:enumeration value="MaleBlack" />
            <xs:enumeration value="MaleRed" />
            <xs:enumeration value="Female" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemFlags">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Bound" />
                            <xs:enumeration value="Depositable" />
                            <xs:enumeration value="Enchantable" />
                            <xs:enumeration value="Consecratable" />
                            <xs:enumeration value="Tailorable" />
                            <xs:enumeration value="Smithable" />
                            <xs:enumeration value="Exchangeable" />
                            <xs:enumeration value="Vendorable" />
                            <xs:enumeration value="Perishable" />
                            <xs:enumeration value="UniqueInventory" />
                            <xs:enumeration value="MasterOnly" />
                            <xs:enumeration value="UniqueEquipped" />
                            <xs:enumeration value="Identifiable" />
                            <xs:enumeration value="Undamageable" />
                            <xs:enumeration value="Consumable" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:restriction>
    </xs:simpleType>

    <!-- Status effects -->
    
    <xs:complexType name="AddStatus">
        <xs:simpleContent>
            <xs:extension base="hyb:String8">
                <xs:attribute name="Duration" use="optional" default="0" type="xs:int" />
                <xs:attribute name="Intensity" use="optional" default="1.0" type="xs:float" />
                <xs:attribute name="Speed" default="1.0" type="xs:float" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Statuses">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Add" type="hyb:AddStatus" />
            <xs:element name="Remove" type="hyb:String8" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="CreatureCondition">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Freeze" />
                            <xs:enumeration value="Sleep" />
                            <xs:enumeration value="Paralyze" />
                            <xs:enumeration value="Blind" />
                            <xs:enumeration value="Coma" />
                            <xs:enumeration value="Poison" />
                            <xs:enumeration value="Sight" />
                            <xs:enumeration value="Invisible" />
                            <xs:enumeration value="Mute" />
                            <xs:enumeration value="Invulnerable" />
                            <xs:enumeration value="Charm" />
                            <xs:enumeration value="ProhibitItemUse" />
                            <xs:enumeration value="ProhibitEquipChange" />
                            <xs:enumeration value="ProhibitSpeech" />
                            <xs:enumeration value="ProhibitWhisper" />
                            <xs:enumeration value="ProhibitShout" />
                            <xs:enumeration value="Disoriented" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
            <xs:maxLength value="19" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Classes (for item restrictions) -->
    <xs:simpleType name="Class">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Peasant" />
            <xs:enumeration value="Warrior" />
            <xs:enumeration value="Rogue" />
            <xs:enumeration value="Wizard" />
            <xs:enumeration value="Priest" />
            <xs:enumeration value="Monk" />
            <xs:enumeration value="None" />
        </xs:restriction>
    </xs:simpleType>

    <!-- A list of classes -->
    <xs:simpleType name="ClassList">
        <xs:list itemType="hyb:Class" />
    </xs:simpleType>

    <!--  Gender (for item restrictions) -->
    <xs:simpleType name="Gender">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Neutral" />
            <xs:enumeration value="Male" />
            <xs:enumeration value="Female" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Elements -->
    <xs:simpleType name="ElementType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="None" />
            <xs:enumeration value="Fire" />
            <xs:enumeration value="Water" />
            <xs:enumeration value="Wind" />
            <xs:enumeration value="Earth" />
            <xs:enumeration value="Light" />
            <xs:enumeration value="Dark" />
            <xs:enumeration value="Wood" />
            <xs:enumeration value="Metal" />
            <xs:enumeration value="Undead" />
            <xs:enumeration value="RandomTemuair" />
            <xs:enumeration value="RandomExpanded" />
            <xs:enumeration value="Necklace"/>
            <xs:enumeration value="Belt"/>
            <xs:enumeration value="Current"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ElementList">
        <xs:list itemType="hyb:ElementType" />
    </xs:simpleType>

    <xs:simpleType name="IntentType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Hostile" />
            <!-- Hostile to players and can be attacked -->
            <xs:enumeration value="Passive" />
            <!-- Passive to players and cannot be attacked -->
            <xs:enumeration value="Neutral" />
            <!-- Passive to players and can be attacked -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WeaponType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="OneHand" />
            <xs:enumeration value="TwoHand" />
            <xs:enumeration value="Dagger" />
            <xs:enumeration value="Staff" />
            <xs:enumeration value="Claw" />
            <xs:enumeration value="None" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DamageType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Direct" />
            <xs:enumeration value="Physical" />
            <xs:enumeration value="Magical" />
            <xs:enumeration value="Elemental" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EquipmentSlot">
        <xs:restriction base="xs:token">
            <xs:enumeration value="None" />
            <xs:enumeration value="Weapon" />
            <xs:enumeration value="Armor" />
            <xs:enumeration value="Shield" />
            <xs:enumeration value="Helmet" />
            <xs:enumeration value="Earring" />
            <xs:enumeration value="Necklace" />
            <xs:enumeration value="LeftHand" />
            <xs:enumeration value="RightHand" />
            <xs:enumeration value="LeftArm" />
            <xs:enumeration value="RightArm" />
            <xs:enumeration value="Waist" />
            <xs:enumeration value="Leg" />
            <xs:enumeration value="Foot" />
            <xs:enumeration value="FirstAcc" />
            <xs:enumeration value="Trousers" />
            <xs:enumeration value="Coat" />
            <xs:enumeration value="SecondAcc" />
            <xs:enumeration value="ThirdAcc" />
            <xs:enumeration value="Gauntlet" />
            <xs:enumeration value="Ring" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Direction type -->
    <xs:simpleType name="Direction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="North" />
            <xs:enumeration value="East" />
            <xs:enumeration value="South" />
            <xs:enumeration value="West" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Map flags type -->
    <xs:simpleType name="MapFlags">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Snow" />
                            <xs:enumeration value="Rain" />
                            <xs:enumeration value="Dark" />
                            <xs:enumeration value="NoMap" />
                            <xs:enumeration value="Winter" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>

    <!-- NPC joblist type -->
    <xs:simpleType name="NpcJobList">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Vend" />
                            <xs:enumeration value="Bank" />
                            <xs:enumeration value="Train" />
                            <xs:enumeration value="Repair" />
                            <xs:enumeration value="Post" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
            <xs:maxLength value="5" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StatType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Str" />
            <xs:enumeration value="Int" />
            <xs:enumeration value="Con" />
            <xs:enumeration value="Wis" />
            <xs:enumeration value="Dex" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NpcRepairType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Armor" />
            <xs:enumeration value="Weapon" />
            <xs:enumeration value="All" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Map warp restrictions type (used by warps/worldwarps) -->
    <xs:complexType name="WarpRestrictions">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="Level" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
                    <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Ab" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
                    <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
                </xs:complexType>
            </xs:element>
            <xs:element name="NoMobUse" minOccurs="0" maxOccurs="1" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <!-- Variant property type (string, must be numeric or contain a percent sign -->
    <xs:simpleType name="VariantProperty">
        <xs:restriction base="xs:string">
            <xs:pattern value="-{0,1}[0-9]*%{0,1}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariantInteger">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <!-- IP address type (used for Hybrasyl config files), and yes, IPv4 only -->
    <xs:simpleType name="IpAddress">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="((((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))\.){3}((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9])))(\-((((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))\.){3}((25[0-5])|(2[0-4][0-9])|([01]?[0-9]?[0-9]))))?" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Message types for plugins -->
    <xs:simpleType name="MessageType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Mail" />
            <xs:enumeration value="BoardMessage" />
            <xs:enumeration value="Say" />
            <xs:enumeration value="Shout" />
            <xs:enumeration value="Whisper" />
            <xs:enumeration value="GuildChat" />
            <xs:enumeration value="GroupChat" />
            <xs:enumeration value="RegionalChat" />
            <xs:enumeration value="GMChat" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CharacterName">
        <xs:restriction base="xs:token">
            <xs:minLength value="4" />
            <xs:maxLength value="12" />
            <xs:pattern value="[a-zA-Z]*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- A list of character names -->
    <xs:simpleType name="CharacterNameList">
        <xs:list itemType="hyb:CharacterName" />
    </xs:simpleType>

    <!-- Message board types -->
    <xs:simpleType name="BoardType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Messageboard" />
            <xs:enumeration value="Sign" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Base definition for a monster or group of monsters (goblins, kobolds) -->
    <xs:complexType name="Creature">
        <xs:sequence>
            <xs:element name="Description" type="hyb:String8" minOccurs="0" maxOccurs="1" />
            <xs:element name="Loot" type="hyb:LootList" minOccurs="0" maxOccurs="1" />
            <xs:element name="Hostility" minOccurs="0" maxOccurs="1" type="hyb:CreatureHostilitySettings" />
            <xs:element name="SetCookies" minOccurs="0" maxOccurs="1" type="hyb:CreatureCookies" />
            <xs:element name="Types" minOccurs="0" maxOccurs="1" type="hyb:CreatureTypes" />
        </xs:sequence>
        <xs:attribute name="Name" use="required" type="xs:string" />
        <xs:attribute name="Sprite" use="required" type="xs:unsignedShort" />
        <xs:attribute name="BehaviorSet" use="required" type="xs:string" />
        <xs:attribute name="MinDmg" type="xs:int" use="optional" default="0" />
        <xs:attribute name="MaxDmg" type="xs:int" use="optional" default="0" />
        <xs:attribute name="AssailSound" type="xs:byte" />
    </xs:complexType>

    <xs:complexType name="CreatureTypes">
        <xs:sequence>
            <xs:element name="Type" type="hyb:Creature" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- List of loot tables which can be defined <table> or imported from external sources <import> -->
    <xs:complexType name="LootList">
        <xs:sequence>
            <xs:element name="Set" type="hyb:LootImport" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Table" type="hyb:LootTable" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Gold" type="hyb:LootGold" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="Xp" type="xs:unsignedInt" default="0" use="optional" />
    </xs:complexType>

    <!-- Imported loot table-->
    <xs:complexType name="LootImport">
        <xs:attribute name="Name" type="hyb:String8" />
        <xs:attribute name="Rolls" type="xs:int" />
        <xs:attribute name="Chance" type="xs:float" />
    </xs:complexType>

    <!-- Amount of gold defined in a loot table, in addition to any base gold defined in <loot> -->
    <xs:complexType name="LootGold">
        <xs:attribute name="Min" type="xs:unsignedInt" default="1" use="optional" />
        <xs:attribute name="Max" type="xs:unsignedInt" default="1" use="optional" />
    </xs:complexType>

    <!-- Amount of XP defined in a loot table -->
    <xs:complexType name="LootXp">
        <xs:attribute name="Min" type="xs:unsignedInt" default="1" use="optional" />
        <xs:attribute name="Max" type="xs:unsignedInt" default="1" use="optional" />
    </xs:complexType>

    <!-- Arbitrary categorization support for metadata -->
    <xs:complexType name="Categories">
        <xs:sequence>
            <xs:element name="Category" type="hyb:Category" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:simpleContent>
            <xs:extension base="hyb:String8">
                <xs:attribute name="Unique" type="xs:boolean" default="false" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Types of slot restrictions -->
    <xs:simpleType name="SlotRestrictionType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ItemRequired" />
            <xs:enumeration value="ItemProhibited" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Targeting priority for behaviorsets -->
    <xs:simpleType name="CreatureTargetPriority">
        <xs:restriction base="xs:token">
            <xs:enumeration value="None" />
            <xs:enumeration value="Self" />
            <xs:enumeration value="AllAllies" />
            <xs:enumeration value="RandomAlly" />
            <xs:enumeration value="Attacker" />
            <xs:enumeration value="HighThreat" />
            <xs:enumeration value="LowThreat" />
            <xs:enumeration value="AttackingCaster" />
            <xs:enumeration value="AttackingHealer" />
            <xs:enumeration value="RandomAttacker" />
            <xs:enumeration value="AttackingGroup" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CreatureStatAlloc">
        <xs:list itemType="hyb:StatType" />
    </xs:simpleType>

    <xs:complexType name="CreatureCastables">
        <xs:sequence>
            <xs:element name="Castable" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="Auto" type="xs:boolean" default="true" />
        <xs:attribute name="SkillCategories" type="xs:token" use="optional" />
        <xs:attribute name="SpellCategories" type="xs:token" use="optional" />
    </xs:complexType>

    <xs:complexType name="CreatureCastingSets">
        <xs:sequence>
            <xs:element name="CastingSet" type="hyb:CreatureCastingSet" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreatureBehavior">
        <xs:sequence>
            <xs:element name="CastingSets" minOccurs="0" maxOccurs="1" type="CreatureCastingSets" />
            <xs:element name="Hostility" minOccurs="0" maxOccurs="1" type="CreatureHostilitySettings" />
            <xs:element name="SetCookies" minOccurs="0" maxOccurs="1" type="CreatureCookies " />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreatureHostility">
        <xs:attribute name="ExceptCookie" type="xs:token" use="optional" />
        <xs:attribute name="OnlyCookie" type="xs:token" use="optional" />
    </xs:complexType>

    <xs:complexType name="CreatureHostilitySettings">
        <xs:sequence>
            <xs:element name="Players" type="CreatureHostility" minOccurs="0" maxOccurs="1" />
            <xs:element name="Monsters" type="CreatureHostility" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreatureCookie">
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Value" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="CreatureCookies">
        <xs:sequence>
            <xs:element name="Cookie" type="CreatureCookie" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- BehaviorSet structure for AI tweakable settings -->
    <xs:complexType name="CreatureBehaviorSet">
        <xs:sequence>
            <xs:element name="StatAlloc" minOccurs="0" maxOccurs="1" type="CreatureStatAlloc" />
            <xs:element name="Castables" minOccurs="0" maxOccurs="1" type="CreatureCastables" />
            <xs:element name="Behavior" minOccurs="0" maxOccurs="1" type="CreatureBehavior" />
            <xs:element name="Immunities" minOccurs="0" maxOccurs="1" type="CreatureImmunities "/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Import" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="CreatureImmunities">
        <xs:sequence>
            <xs:element name="Immunity" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreatureCastable">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="TargetPriority" type="hyb:CreatureTargetPriority" use="optional" default="None" />
                <xs:attribute name="HealthPercentage" type="xs:int" use="optional" default="-1" />
                <xs:attribute name="UseOnce" type="xs:boolean" use="optional" default="false" />
                <xs:attribute name="Interval" type="xs:int" use="optional" default="15" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CreatureCastingSet">
        <xs:sequence>
            <xs:element name="Castable" minOccurs="0" maxOccurs="unbounded" type="CreatureCastable" />
        </xs:sequence>
        <xs:attribute name="Type" type="hyb:RotationType" use="required" />
        <xs:attribute name="Categories" type="xs:token" use="optional" />
        <xs:attribute name="Interval" type="xs:int" use="optional" default="15" />
        <xs:attribute name="TargetPriority" type="hyb:CreatureTargetPriority" use="optional" default="HighThreat" />
        <xs:attribute name="HealthPercentage" type="xs:int" use="optional" default="0" />
        <xs:attribute name="Random" type="xs:boolean" use="optional" default="true" />
    </xs:complexType>

    <xs:complexType name="NpcRoleTrainCastable">
        <xs:attribute name="Type" type="hyb:String8" />
        <xs:attribute name="Class" type="hyb:ClassList" />
        <xs:attribute name="Name" type="hyb:String8" />
    </xs:complexType>

    <xs:complexType name="NpcRoleTrain">
        <xs:sequence>
            <xs:element name="Castable" type="hyb:NpcRoleTrainCastable" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NpcRoleVendItemList">
        <xs:sequence>
            <xs:element name="Item" type="hyb:NpcRoleVendItem" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NpcRoleVendItem">
        <xs:attribute name="Name" type="hyb:String8" />
        <xs:attribute name="Quantity" type="xs:int" />
        <xs:attribute name="Restock" type="xs:int" />
        <xs:attribute name="Tab" type="hyb:String8" />
    </xs:complexType>

    <xs:complexType name="NpcRoleVend">
        <xs:sequence>
            <xs:element name="Items" type="hyb:NpcRoleVendItemList" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="Tabs">
            <xs:simpleType>
                <xs:list itemType="hyb:String8" />
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="NpcRolePostSurcharge">
        <xs:attribute name="Nation" type="hyb:String8" />
        <xs:attribute name="Percent" type="xs:int" />
    </xs:complexType>

    <xs:complexType name="NpcRolePost">
        <xs:sequence>
            <xs:element name="Surcharge" minOccurs="1" maxOccurs="unbounded" type="hyb:NpcRolePostSurcharge" />
        </xs:sequence>
        <xs:attribute name="Receive" type="hyb:String8" />
    </xs:complexType>

    <xs:complexType name="NpcRoleRepair">
        <xs:attribute name="Nation" type="hyb:String8" />
        <xs:attribute name="Discount" type="xs:int" />
        <xs:attribute name="Type">
            <xs:simpleType>
                <xs:list itemType="hyb:NpcRepairType" />
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="NpcRoleBank">
        <xs:attribute name="Nation" type="hyb:String8" />
        <xs:attribute name="Discount" type="hyb:String8" />
    </xs:complexType>


    <xs:complexType name="NpcRoleList">
        <xs:sequence>
            <xs:element name="Train" type="hyb:NpcRoleTrain" maxOccurs="1" minOccurs="0" />
            <xs:element name="Vend" type="hyb:NpcRoleVend" maxOccurs="1" minOccurs="0" />
            <xs:element name="Post" type="hyb:NpcRolePost" maxOccurs="1" minOccurs="0" />
            <xs:element name="Repair" type="hyb:NpcRoleRepair" maxOccurs="1" minOccurs="0" />
            <xs:element name="Bank" type="hyb:NpcRoleBank" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="TrainCheck" type="xs:string"/>
        <xs:attribute name="VendCheck" type="xs:string"/>
        <xs:attribute name="PostCheck" type="xs:string"/>
        <xs:attribute name="RepairCheck" type="xs:string"/>
        <xs:attribute name="BankCheck" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="LocalizedString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Key" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LocalizedStrings">
        <xs:sequence>
            <xs:element name="String" type="hyb:LocalizedString" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NpcResponses">
        <xs:sequence>
            <xs:element name="Response" type="hyb:NpcResponse" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NpcResponse">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Call" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Npc">
        <xs:sequence>
            <xs:element name="Name" minOccurs="1" maxOccurs="1" type="hyb:String8" />
            <xs:element name="DisplayName" minOccurs="0" maxOccurs="1" type="hyb:String8" />
            <xs:element name="Appearance" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="Sprite" type="xs:unsignedShort" use="required" />
                    <xs:attribute name="Portrait" type="hyb:String8" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="Strings" type="hyb:LocalizedStrings" minOccurs="0" maxOccurs="1" />
            <xs:element name="Responses" type="hyb:NpcResponses" minOccurs="0" maxOccurs="1" />
            <xs:element name="Roles" type="hyb:NpcRoleList" minOccurs="0" maxOccurs="1" />
            <xs:element name="AllowDead" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="Inventory" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="Item">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="hyb:String8">
                                        <xs:attribute name="Quantity" type="xs:unsignedInt" use="optional" default="0" />
                                        <xs:attribute name="Refresh" type="xs:unsignedInt" use="optional" default="0" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Gold" type="xs:unsignedByte" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="X" type="xs:unsignedByte" use="required" />
        <xs:attribute name="Y" type="xs:unsignedByte" use="required" />
    </xs:complexType>

    <!--- Procs -->
    <xs:simpleType name="ProcEventType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="OnUse"/>
            <xs:enumeration value="OnCast"/>
            <xs:enumeration value="OnHit"/>
            <xs:enumeration value="OnDeath"/>
            <xs:enumeration value="OnSpawn"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ProcList">
        <xs:sequence>
            <xs:element name="Proc" minOccurs="1" maxOccurs="unbounded" type="hyb:Proc"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Proc">
        <xs:attribute name="Type" type="hyb:ProcEventType"/>
        <xs:attribute name="Castable" type="xs:string"/>
        <xs:attribute name="Script" type="xs:string"/>
        <xs:attribute name="Chance" type="xs:float"/>
    </xs:complexType>



</xs:schema>
