XML/XSD/Creature.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      This file is part of Project Hybrasyl.

      This program is free software; you can redistribute it and/or modify
      it under the terms of the Affero General Public License as published by
      the Free Software Foundation, version 3.

      This program is distributed in the hope that it will be useful, but
      without ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
      or FITNESS FOR A PARTICULAR PURPOSE. See the Affero General Public License
      for more details.

      You should have received a copy of the Affero General Public License along
      with this program. If not, see http://www.gnu.org/licenses/ .

      (C) 2020 ERISCO, LLC

      For contributors and individual authors please refer to CONTRIBUTORS.MD.
    </xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="Common.xsd"/>

  <!-- Base definition for a monster -->
  <xs:complexType name="Creature">
    <xs:sequence>
      <xs:element name="Name" type="String8" minOccurs="1" maxOccurs="1" />
      <xs:element name="Description" type="String8" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Sprite" use="required" type="xs:unsignedShort" />
  </xs:complexType>

  <!-- Spawngroup -->
  <xs:complexType name="SpawnGroup">
    <xs:sequence>
      <xs:element name="Maps" type="MapList" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Spawns" type="SpawnList" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Disabled" use="optional" default="false" type="xs:boolean"/>
  </xs:complexType>

  <!-- A list of maps a spawngroup controls-->
  <xs:complexType name="MapList">
    <xs:sequence>
      <xs:element name="Map" type="SpawnMap" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SpawnMap">
    <xs:attribute name="Name" type="String8" use ="required"/>
    <xs:attribute name="MinSpawn" type="xs:int" use ="required"/>
    <xs:attribute name="MaxSpawn" type="xs:int" use ="required"/>
    <xs:attribute name="Limit" type="xs:int" use ="required"/>
    <xs:attribute name="Interval" type="xs:int" use ="required"/>
    <xs:attribute name="Disabled" type="xs:boolean" default="false"/>
  </xs:complexType>

  <!-- Spawns -->
  <xs:complexType name="SpawnList">
    <xs:sequence>
      <xs:element name="Spawn" type="Spawn" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Definition for an actual spawn/monster (mob variant)-->
  <xs:complexType name="Spawn">
    <xs:sequence>
      <xs:element name="Script" type="CreatureScript" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Intents" type="IntentList" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Respawn" type="Respawn" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Damage" type="SpawnDamage" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Defense" type="Defense" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Stats" type="Stats" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Loot" type="LootList" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Castables" type="CastableList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Base" type="String8" use="required"/>
    <xs:attribute name="Variance" type="xs:float" use="optional" default="1.0"/>
  </xs:complexType>

  <!-- Whether or not a specified script overrides the spawning behavior or supplements it-->
  <xs:simpleType name="ScriptType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Override"/>
      <xs:enumeration value="Supplement"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Creature script name -->
  <xs:complexType name="CreatureScript">
    <xs:simpleContent>
      <xs:extension base="String8">
        <xs:attribute type="ScriptType" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- List of intents -->
  <xs:complexType name="IntentList">
    <xs:sequence>
      <xs:element name="Npc" type="Intent" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Player" type="Intent" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Monster" type="Intent" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Spawn intent (hostile/friendly/etc) -->
  <xs:complexType name="Intent">
    <xs:simpleContent>
      <xs:extension base="String8">
        <xs:attribute type="IntentType" name="intent"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Respawn information (how often, min/max, percentage as a function of all mobs on a map -->
  <xs:complexType name="Respawn">
    <xs:attribute name="Interval" type="xs:int" default="30" use="optional"/>
    <xs:attribute name="Min" type="xs:int" default="1" use="optional"/>
    <xs:attribute name="Max" type="xs:int" use="optional"/>
    <xs:attribute name="Percentage" type="xs:float" use="optional"/>
  </xs:complexType>

  <!-- Damage a spawn can do (min/max, elment, type (physical/magical etc)) -->
  <xs:complexType name="SpawnDamage">
    <xs:attribute name="Min" type="xs:int" default="0" use="optional"/>
    <xs:attribute name="Max" type="xs:int" default="0" use="optional"/>
    <xs:attribute name="Element" use="optional">
      <xs:simpleType>
        <xs:list itemType="Element" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Type" type="DamageType" default="Physical" use="optional"/>
    <xs:attribute name="Dmg" type="xs:unsignedByte" use="optional" default="0"/>
    <xs:attribute name="Hit" type="xs:unsignedByte" use="optional" default="0"/>
  </xs:complexType>
 
  <!-- A creature's defense, including element, magic resistance and armor class -->
  <xs:complexType name="Defense">
    <xs:attribute name="Mr" type="xs:int" default="0" use="optional"/>
    <xs:attribute name="Ac" type="xs:int" use="required"/>
    <xs:attribute name="Element" use="optional">
      <xs:simpleType>
        <xs:list itemType="Element" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Regen" type="xs:unsignedByte" use="optional" default="0"/>
  </xs:complexType>

  <!-- Stats of a creature (a subset of player attributes are supported here) -->
  <xs:complexType name="Stats">
    <xs:attribute name="Hp" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="Mp" type="xs:unsignedInt" use="optional" default="0"/>
    <xs:attribute name="Level" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Str" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Int" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Wis" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Con" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Dex" type="xs:unsignedByte" use="required" />
  </xs:complexType>

  <!-- List of loot tables which can be defined <table> or imported from external sources <import> -->
  <xs:complexType name="LootList">
    <xs:sequence>
      <xs:element name="Set" type="LootImport" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Table" type="LootTable" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Gold" type="LootGold" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Xp" type="xs:unsignedInt" default="0" use="optional"/>
  </xs:complexType>

  <!-- Imported loot table-->
  <xs:complexType name="LootImport">
    <xs:attribute name="Name" type="String8"/>
    <xs:attribute name="Rolls" type="xs:int"/>
    <xs:attribute name="Chance" type="xs:float"/>
  </xs:complexType>

  <!-- Amount of gold defined in a loot table, in addition to any base gold defined in <loot> -->
  <xs:complexType name="LootGold">
    <xs:attribute name="Min" type="xs:unsignedInt" default="1" use="optional"/>
    <xs:attribute name="Max" type="xs:unsignedInt" default="1" use="optional"/>
  </xs:complexType>

  <!-- Amount of XP defined in a loot table -->
  <xs:complexType name="LootXp">
    <xs:attribute name="Min" type="xs:unsignedInt" default="1" use="optional"/>
    <xs:attribute name="Max" type="xs:unsignedInt" default="1" use="optional"/>
  </xs:complexType>

  <!-- List of castables a creature is allowed to use -->
  <xs:complexType name="CastableList">
    <xs:sequence>
      <xs:element name="Castable" type="SpawnCastable" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SpawnCastable">
    <xs:simpleContent>
      <xs:extension base="String8">
        <xs:attribute name="Cooldown" type="xs:int" default="1" use="optional"/>
        <xs:attribute name="Chance" type="xs:float" default="1" use="optional"/>
        <xs:attribute name="Always" type="xs:boolean" default="false" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NpcRoleTrainCastable">
    <xs:attribute name="Type" type="String8"/>
    <xs:attribute name="Class">
      <xs:simpleType>
        <xs:list itemType="Class" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Name" type="String8"/>
  </xs:complexType>
  
  <xs:complexType name="NpcRoleTrain">
    <xs:sequence>
      <xs:element name="Castable" type="NpcRoleTrainCastable" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NpcRoleVendItemList">
    <xs:sequence>
      <xs:element name="Item" type="NpcRoleVendItem" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NpcRoleVendItem">
    <xs:attribute name="Name" type="String8"/>
    <xs:attribute name="Quantity" type="xs:int"/>
    <xs:attribute name="Restock" type="xs:int"/>
    <xs:attribute name="Tab" type="String8"/>
  </xs:complexType>
  
  <xs:complexType name="NpcRoleVend">
    <xs:sequence>
      <xs:element name="Items" type="NpcRoleVendItemList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Tabs">
      <xs:simpleType>
        <xs:list itemType="String8"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="NpcRolePostSurcharge">
    <xs:attribute name="Nation" type="String8"/>
    <xs:attribute name="Percent" type="xs:int"/>
  </xs:complexType>
  
  <xs:complexType name="NpcRolePost">
    <xs:sequence>
      <xs:element name="Surcharge" minOccurs="1" maxOccurs="unbounded" type="NpcRolePostSurcharge"/>
    </xs:sequence>
    <xs:attribute name="Receive" type="String8"/>
  </xs:complexType>

  <xs:complexType name="NpcRoleRepair">
    <xs:attribute name="Nation" type="String8"/>
    <xs:attribute name="Discount" type="xs:int"/>
    <xs:attribute name="Type">
      <xs:simpleType>
        <xs:list itemType="NpcRepairType"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="NpcRoleBank">
    <xs:attribute name="Discount" type="String8"/>
  </xs:complexType>

  
  <xs:complexType name="NpcRoleList">
    <xs:sequence>
      <xs:element name="Train" type="NpcRoleTrain" maxOccurs="1" minOccurs="0" />
      <xs:element name="Vend" type="NpcRoleVend" maxOccurs="1" minOccurs="0" />
      <xs:element name="Post" type="NpcRolePost" maxOccurs="1" minOccurs="0" />
      <xs:element name="Repair" type="NpcRoleRepair" maxOccurs="1" minOccurs="0" />
      <xs:element name="Bank" type="NpcRoleBank" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Npc">
    <xs:sequence>
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="String8" />
      <xs:element name="DisplayName" minOccurs="0" maxOccurs="1" type="String8" />
      <xs:element name="Appearance" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Sprite" type="xs:unsignedShort" use="required" />
          <xs:attribute name="Portrait" type="String8" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Roles" type="NpcRoleList" minOccurs="0" maxOccurs="1" />
      <xs:element name="AllowDead" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Inventory" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="Item">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="String8">
                    <xs:attribute name="Quantity" type="xs:unsignedInt" use="optional" default="0" />
                    <xs:attribute name="Refresh" type="xs:unsignedInt" use="optional" default="0" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Gold" type="xs:unsignedByte" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="X" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Y" type="xs:unsignedByte" use="required" />
  </xs:complexType>
  

  <xs:element name="Spawn" type="Spawn"/>
  <xs:element name="SpawnGroup" type="SpawnGroup"/>
  <xs:element name="Creature" type="Creature"/>
  <xs:element name="Npc" type="Npc"/>
</xs:schema>
