HybrasylXML/XSD/Castables.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:hyb="http://www.hybrasyl.com/XML/HybrasylCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:actions="http://www.hybrasyl.com/XML/Actions" targetNamespace="http://www.hybrasyl.com/XML/Actions" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      Hybrasyl Project - Hybrasyl XML Schema - Actions (Skills / Spells)
      This file is subject to the same licenses as Project Hybrasyl.
      (C) 2015 Project Hybrasyl (info@hybrasyl.com)
      Written by Justin Baugh (baughj@hybrasyl.com)
    </xs:documentation>
  </xs:annotation>

  <xs:import schemaLocation="hybrasylTypes.xsd" namespace="http://www.hybrasyl.com/XML/HybrasylCommon" />

  <!-- Skill/spell book location -->
  <xs:simpleType name="Book">
    <xs:restriction base="xs:token">
      <xs:enumeration value="PrimarySkill" />
      <xs:enumeration value="SecondarySkill" />
      <xs:enumeration value="UtilitySkill" />
      <xs:enumeration value="PrimarySpell" />
      <xs:enumeration value="SecondarySpell" />
      <xs:enumeration value="UtilitySpell" />
    </xs:restriction>
  </xs:simpleType>

 <xs:simpleType name="SpellUseType">
   <xs:restriction base="xs:token">
     <xs:enumeration value="Unusable"/>
     <xs:enumeration value="Prompt"/>
     <xs:enumeration value="Target"/>
     <xs:enumeration value="FourDigit"/>
     <xs:enumeration value="ThreeDigit"/>
     <xs:enumeration value="NoTarget"/>
     <xs:enumeration value="TwoDigit"/>
     <xs:enumeration value="Onedigit"/>
   </xs:restriction>
 </xs:simpleType>
 
  
 <!-- Element properties (adds belt / necklace) -->
 <xs:simpleType name="Element">
   <xs:restriction base="xs:token">
     <xs:enumeration value="None" />
     <xs:enumeration value="Fire" />
     <xs:enumeration value="Water" />
     <xs:enumeration value="Wind" />
     <xs:enumeration value="Earth" />
     <xs:enumeration value="Light" />
     <xs:enumeration value="Dark" />
     <xs:enumeration value="Wood" />
     <xs:enumeration value="Metal" />
     <xs:enumeration value="Undead" />
     <xs:enumeration value="Random" />
   </xs:restriction>
 </xs:simpleType>

 <!-- Skill intent targets -->
 <xs:simpleType name="IntentTarget">
   <xs:restriction base="xs:token">
     <xs:enumeration value="Hostile" />
     <xs:enumeration value="Friendly" />
     <xs:enumeration value="Pvp" />
     <xs:enumeration value="Group" />
   </xs:restriction>
  </xs:simpleType>

    <!-- Weapon type list (for casting restrictions) -->
  <xs:simpleType name="IntentTargetList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="actions:IntentTarget" />
      </xs:simpleType>
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Intent direction type -->
 <xs:simpleType name="IntentDirection">
   <xs:restriction base="xs:token">
     <xs:enumeration value="Front" />
     <xs:enumeration value="Back" />
     <xs:enumeration value="Left" />
     <xs:enumeration value="Right" />
     <xs:enumeration value="Nearby" />
   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Motion">
    <xs:attribute name="Class" use="optional">
      <xs:simpleType>
        <xs:list itemType="hyb:Class" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Id" type="xs:int"/>
    <xs:attribute name="Speed" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="MotionsList">
    <xs:sequence>
      <xs:element name="Motion" type="actions:Motion" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Item specification (used for requirements / cast cost) -->
  <xs:complexType name="ItemSpecification">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Quantity" default="1" type="xs:unsignedByte" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Item specifications container element -->
  <xs:complexType name="ItemsSpecification">
    <xs:sequence>
      <xs:element name="Item" type="actions:ItemSpecification" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Casting cost -->
  <xs:complexType name="ClassCastCost">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Items" minOccurs="0" maxOccurs="1" type="actions:ItemsSpecification" />
      <xs:element name="Stat" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <!-- hp/mp can be expressed as percentages here -->
          <xs:attribute name="Hp" type="hyb:String8" default="0" />
          <xs:attribute name="Mp" type="hyb:String8" default="0" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Gold" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CastCost">
    <xs:complexContent>
      <xs:extension base="actions:ClassCastCost">
        <xs:attribute name="Class" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:Class" />
          </xs:simpleType>
        </xs:attribute>      
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CastCostList">
    <xs:sequence>
      <xs:element name="CastCost" type="actions:CastCost"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Intent container element -->
  <xs:complexType name="Intents">
    <xs:sequence>
      <xs:element name="Intent" type="actions:Intent" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Intent: What does the spell do, and whom does it affect? -->
  <xs:complexType name="Intent">
    <xs:attribute name="UseType" type="actions:SpellUseType" default="NoTarget" use="optional"/>
    <xs:attribute name="Radius" type="xs:unsignedByte" default="0" />
    <xs:attribute name="Direction" type="actions:IntentDirection" default="Front" />
    <xs:attribute name="Target" type="actions:IntentTargetList" use="required" />
    <xs:attribute name="MaxTargets" type="xs:unsignedByte" default="0" />
  </xs:complexType>

  <!-- MaxLevel type: each class can have various maximum levels for a spell -->
  <xs:complexType name="MaxLevel">
    <xs:attribute name="Monk" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Warrior" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Peasant" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Wizard" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Priest" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="Rogue" type="xs:unsignedByte" use="optional" />
  </xs:complexType>

  <!-- Requirements: What does a player need to learn this spell? -->
  <xs:complexType name="ClassRequirement">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <!-- Player level -->
      <xs:element name="Level" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
      </xs:element>
      <!-- Player ability level -->
      <xs:element name="Ab" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
      </xs:element>
      <!-- Items needed to learn spell -->
      <xs:element name="Items" minOccurs="0" maxOccurs="1" type="actions:ItemsSpecification" />
      <!-- Gold needed to learn spell -->
      <xs:element name="Gold" minOccurs="0" maxOccurs="1" type="xs:unsignedInt" />
      <!-- Stat requirements -->
      <xs:element name="Physical" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Str" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Int" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Wis" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Con" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Dex" default="0" type="xs:unsignedByte" />
          <xs:attribute name="Hp" default="0" type="xs:unsignedInt" />
          <xs:attribute name="Mp" default="0" type="xs:unsignedInt" />
        </xs:complexType>
      </xs:element>
      <!-- Prerequisites (other spells which must be learned first) -->
      <xs:element name="Prerequisites" minOccurs="0" maxOccurs="0" type="actions:LearnPrerequisites" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Requirement">
    <xs:complexContent>
      <xs:extension base="actions:ClassRequirement">
        <xs:attribute name="Class" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:Class" />
          </xs:simpleType>
        </xs:attribute>      
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Requirements">
    <xs:sequence>
      <xs:element name="Requirement" type="actions:Requirement" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Prerequisites -->
  <xs:complexType name="LearnPrerequisites">
    <xs:sequence>
      <xs:element name="Prerequisite" minOccurs="1" maxOccurs="unbounded" type="actions:LearnPrerequisite" />
    </xs:sequence>
  </xs:complexType>

  <!-- Individual prerequisite -->
  <xs:complexType name="LearnPrerequisite">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Level" use="optional" type="xs:unsignedByte" />
        <xs:attribute name="Ab" use="optional" type="xs:unsignedByte"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Weapon type list (for casting restrictions) -->
  <xs:simpleType name="WeaponTypeList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:WeaponType" />
      </xs:simpleType>
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ClassTypeList">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="hyb:Class" />
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SimpleQuantity">
    <xs:attribute name="Min" default="0" type="xs:nonNegativeInteger" />
    <xs:attribute name="Max" default="0" type="xs:nonNegativeInteger" />
  </xs:complexType>

  <xs:complexType name="HealthChange">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Simple" type="actions:SimpleQuantity" />
      <xs:element name="Formula" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- Damage flags type -->
  <xs:simpleType name="DamageFlags">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="Scaled" />
              <xs:enumeration value="Resistance" />
              <xs:enumeration value="Threat" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:restriction>
  </xs:simpleType>

  <!-- Damage effects type -->
  <xs:complexType name="Damage">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Flags" type="actions:DamageFlags" />
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="Simple" type="actions:SimpleQuantity" />
        <xs:element name="Formula" type="hyb:String16" />
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="TimeBased" type="xs:boolean"/>
    <xs:attribute name="Duration" type="xs:unsignedInt" />
    <xs:attribute name="Type" type="hyb:DamageType" />
  </xs:complexType>

  <!-- Heal effects type -->
  <xs:complexType name="Heal">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Simple" type="actions:SimpleQuantity" />
      <xs:element name="Formula" type="hyb:String16" />
    </xs:sequence>
    <xs:attribute name="TimeBased" type="xs:boolean" />
    <xs:attribute name="Duration" type="xs:unsignedInt" />
  </xs:complexType>

  <!-- Animations container element -->
  <xs:complexType name="Animations">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="OnCast" type="actions:AnimationGroup" minOccurs="0" maxOccurs="1" />
      <xs:element name="OnTick" type="actions:AnimationDurationGroup" minOccurs="0" maxOccurs="1" />
      <xs:element name="OnEnd" type="actions:AnimationDurationGroup" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- Animation group -->
  <xs:complexType name="AnimationGroup">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Player" type="actions:MotionsList" minOccurs="0" maxOccurs="1" />
      <xs:element name="SpellEffect" type="actions:Animation" minOccurs="0" maxOccurs="1" />
      <xs:element name="Target" type="actions:Animation" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- Animation group -->
  <xs:complexType name="AnimationDurationGroup">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Player" type="actions:AnimationDuration" minOccurs="0" maxOccurs="1" />
      <xs:element name="SpellEffect" type="actions:AnimationDuration" minOccurs="0" maxOccurs="1" />
      <xs:element name="Target" type="actions:AnimationDuration" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- Animation set -->
  <xs:complexType name="Animation">
    <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
    <xs:attribute name="Speed" type="xs:unsignedShort" use="optional" default="100" />
  </xs:complexType>

  <!-- Animation set for duration -->
  <xs:complexType name="AnimationDuration">
    <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
    <xs:attribute name="Speed" type="xs:unsignedShort" use="optional" default="100" />
    <xs:attribute name="Tick" type="xs:unsignedInt" />
  </xs:complexType>

  <!-- Effects type -->
  <xs:complexType name="Effects">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Animations" type="actions:Animations" minOccurs="0" maxOccurs="1" />
      <xs:element name="Sound" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Heal" minOccurs="0" maxOccurs="1" type="actions:Heal" />
      <xs:element name="Damage" minOccurs="0" maxOccurs="1" type="actions:Damage" />
      <xs:element name="StatEffects" minOccurs="0" maxOccurs="1" type="actions:StatEffects" />
      <xs:element name="Statuses" minOccurs="0" maxOccurs="0" type="actions:Statuses" />
    </xs:sequence>
    <xs:attribute name="ScriptOverride" type="xs:boolean" default="false"/>
  </xs:complexType>
    
  <xs:complexType name="Categories">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Category" type="actions:Category"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Category" >
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Unique" type="xs:boolean" default="false" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Conditions">
    <xs:sequence>
      <xs:element name="Add" type="hyb:CreatureCondition" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Remove" type="hyb:CreatureCondition" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AddStatus">
    <xs:sequence>
      <xs:element name="StatEffects" type="actions:StatusStatEffects" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Conditions" type="actions:Conditions" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Icon" type="xs:unsignedShort" use="required"/>
    <xs:attribute name="Duration" type="xs:int" use="required"/>
    <xs:attribute name="Tick" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="StatusStatEffects">
    <xs:sequence>
      <xs:element name="OnCast" type="actions:StatEffects" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OnTick" type="actions:StatEffects" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RemoveStatus">
    <xs:attribute name="Icon" type="xs:unsignedShort" />
    <xs:attribute name="Name" type="hyb:String8"/>
  </xs:complexType>
  
  <xs:complexType name="Statuses">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Add" type="actions:AddStatus" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Remove" type="actions:RemoveStatus" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Stat effects (buffs or debuffs) container element -->
  <xs:complexType name="StatEffects">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="StatEffect" type="actions:StatEffect" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StatEffect">
    <xs:attribute name="Str" default="0" type="xs:byte" />
    <xs:attribute name="Int" default="0" type="xs:byte" />
    <xs:attribute name="Wis" default="0" type="xs:byte" />
    <xs:attribute name="Con" default="0" type="xs:byte" />
    <xs:attribute name="Dex" default="0" type="xs:byte" />
    <xs:attribute name="Hp" default="0" type="xs:int" />
    <xs:attribute name="Mp" default="0" type="xs:int" />
    <xs:attribute name="Hit" default="0" type="xs:byte" />
    <xs:attribute name="Dmg" default="0" type="xs:byte" />
    <xs:attribute name="Ac" default="0" type="xs:byte" />
    <xs:attribute name="Regen" default="0" type="xs:byte" />
    <xs:attribute name="Mr" default="0" type="xs:byte" />
    <xs:attribute name="OffensiveElement" type="actions:Element"/>
    <xs:attribute name="DefensiveElement" type="actions:Element"/>
    <xs:attribute name="DamageModifier" type="xs:float"/>
    <xs:attribute name="HealModifier" type="xs:float"/>
    <xs:attribute name="DamageType" type="hyb:DamageType"/>
  </xs:complexType>

  <!-- Restrictions on casting, such as types of equipment, or
  existing spells -->
    <xs:complexType name="Restrictions">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="WeaponType" type="hyb:WeaponType" maxOccurs="1" />
      <xs:element name="EquipType" type="hyb:EquipmentSlot" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Description">
    <xs:simpleContent>
      <xs:extension base="hyb:String8">
        <xs:attribute name="Class" use="optional">
          <xs:simpleType>
            <xs:list itemType="hyb:Class" />
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DescriptionList">
    <xs:sequence>
      <xs:element name="Description" type="actions:Description" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Castable type -->
  <xs:complexType name="Castable">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element name="Descriptions" type="actions:DescriptionList" minOccurs="0" maxOccurs="1" />
      <xs:element name="Name" type="hyb:String8" minOccurs="1" maxOccurs="1" />
      <xs:element name="Categories" type="actions:Categories" minOccurs="0" maxOccurs="1" />
      <xs:element name="CastCosts" type="actions:CastCostList" minOccurs="0" maxOccurs="1" />
      <xs:element name="Intents" type="actions:Intents" minOccurs="0" maxOccurs="1" />
      <xs:element name="MaxLevel" type="actions:MaxLevel" minOccurs="0" maxOccurs="1" />
      <xs:element name="Requirements" type="actions:Requirements" minOccurs="0" maxOccurs="1" />
      <xs:element name="Restrictions" type="actions:Restrictions" minOccurs="0" maxOccurs="1" />
      <xs:element name="Effects" type="actions:Effects" minOccurs="0" maxOccurs="1" />
      <xs:element name="Script" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <!-- Castable attributes -->
    <xs:attribute name="Type" use="required" />
    <xs:attribute name="Icon" type="xs:unsignedByte" use="required" />
    <xs:attribute name="Book" type="actions:Book" use="required" />
    <xs:attribute name="Element" use="optional">
      <xs:simpleType>
        <xs:list itemType="actions:Element" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Lines" type="xs:unsignedByte" use="optional" default="0" />
    <xs:attribute name="Class" use="optional">
      <xs:simpleType>
        <xs:list itemType="hyb:Class" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Cooldown" use="optional" default="0" type="xs:int" />
    <xs:attribute name="IsAssail" use="optional" default="false" type="xs:boolean"/>
  </xs:complexType>

  <!-- Bring it all together -->
  <xs:element name="Castable" type="actions:Castable" />
</xs:schema>