HybrasylXML/XSD/Items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:hyb="http://www.hybrasyl.com/XML/HybrasylCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:items="http://www.hybrasyl.com/XML/Items" targetNamespace="http://www.hybrasyl.com/XML/Items" elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
      Hybrasyl Project - Hybrasyl XML Schema - Items
      This file is subject to the same licenses as Project Hybrasyl.
      (C) 2015 Project Hybrasyl (info@hybrasyl.com)
      Written by Justin Baugh (baughj@hybrasyl.com)
    </xs:documentation>
  </xs:annotation>

  <xs:import schemaLocation="hybrasylTypes.xsd" namespace="http://www.hybrasyl.com/XML/HybrasylCommon" />

  <xs:complexType name="CastModifiers">
    <xs:sequence>
      <xs:element name="Lines" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="Offset" type="xs:byte" use="optional" />
          <xs:attribute name="Number" type="xs:byte" use="optional" />
          <xs:attribute name="Modifier" type="xs:byte" use="optional" />
          <xs:attribute name="Global" type="xs:boolean" default="false" use="optional" />
          <xs:attribute name="SpellGroup" type="xs:token" use="optional" />
          <xs:attribute name="Min" type="xs:unsignedByte" use="optional" />
          <xs:attribute name="Max" type="xs:unsignedByte" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Appearance">
          <xs:attribute name="Sprite" use="required" type="xs:unsignedShort" />
          <xs:attribute name="EquipSprite" type="xs:unsignedShort" />
          <xs:attribute name="DisplaySprite" type="xs:unsignedShort" />
          <xs:attribute name="BodyStyle" default="Transparent" type="hyb:ItemBodyStyle" />
          <xs:attribute name="Color" default="None" type="hyb:ItemColor" />
        </xs:complexType>
  
  <xs:complexType name="Damage">
          <xs:sequence>
            <xs:element name="Small" minOccurs="1">
              <xs:complexType>
                <xs:attribute name="Min" default="0" type="xs:unsignedShort" />
                <xs:attribute name="Max" default="0" type="xs:unsignedShort" />
              </xs:complexType>
            </xs:element>
            <xs:element name="Large">
              <xs:complexType>
                <xs:attribute name="Min" default="0" type="xs:unsignedShort" />
                <xs:attribute name="Max" default="0" type="xs:unsignedShort" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
  
  <xs:complexType name="Physical">
          <xs:attribute name="Value" default="0" type="xs:unsignedInt" />
          <xs:attribute name="Weight" default="1" type="xs:int" />
          <xs:attribute name="Durability" default="1" type="xs:unsignedInt" />
          <xs:attribute name="Perishable" type="xs:boolean" default="false" />
          <xs:attribute name="Vendorable" type="xs:boolean" default="true" />
          <xs:attribute name="Bound" type="xs:boolean" default="false" />
        </xs:complexType>
  
  <xs:complexType name="RestrictionsLevel">
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>

  <xs:complexType name="RestrictionsAb">
          <xs:attribute name="Min" type="xs:unsignedByte" default="0" />
          <xs:attribute name="Max" type="xs:unsignedByte" default="255" />
        </xs:complexType>
    
  <xs:complexType name="Restrictions">
    <xs:sequence>
      <xs:element name="Level" minOccurs="0" maxOccurs="1" type="items:RestrictionsLevel"/>
      <xs:element name="Ab" minOccurs="0" maxOccurs="1" type="items:RestrictionsAb"/>
      <xs:element name="Class" minOccurs="0" maxOccurs="1" type="hyb:Class" />
      <xs:element name="Gender" type="hyb:Gender" minOccurs="0" maxOccurs="1" default="Neutral" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Stackable">
          <xs:attribute name="Max" use="required" type="xs:unsignedByte" />
  </xs:complexType>
  
  <xs:complexType name="StatEffectsBase">
                <xs:attribute name="Str" default="0" type="xs:byte" />
                <xs:attribute name="Int" default="0" type="xs:byte" />
                <xs:attribute name="Wis" default="0" type="xs:byte" />
                <xs:attribute name="Con" default="0" type="xs:byte" />
                <xs:attribute name="Dex" default="0" type="xs:byte" />
                <xs:attribute name="Hp" default="0" type="xs:int" />
                <xs:attribute name="Mp" default="0" type="xs:int" />
              </xs:complexType>
  
  <xs:complexType name="StatEffectsCombat">
                <xs:attribute name="Hit" default="0" type="xs:byte" />
                <xs:attribute name="Dmg" default="0" type="xs:byte" />
                <xs:attribute name="Ac" default="0" type="xs:byte" />
                <xs:attribute name="Regen" default="0" type="xs:byte" />
                <xs:attribute name="Mr" default="0" type="xs:byte" />
              </xs:complexType>
  
  <xs:complexType name="StatEffectsElement">
                <xs:attribute name="Offense" type="hyb:Element" default="None" />
                <xs:attribute name="Defense" type="hyb:Element" default="None" />
              </xs:complexType>
    
  <xs:complexType name="StatEffects">
          <xs:sequence>
            <xs:element name="Base" type="items:StatEffectsBase" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Combat" type="items:StatEffectsCombat" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Element" type="items:StatEffectsElement" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>

  <!-- TODO: add effect script name to variants -->
  <xs:complexType name="VariantProperties">
    <xs:sequence>
      <xs:element name="Appearance" type="items:Appearance" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Damage" type="items:Damage" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Flags" minOccurs="0" maxOccurs="1" type="hyb:ItemFlags" />
      <xs:element name="Physical" type="items:Physical" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Restrictions" type="items:Restrictions" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Script" minOccurs="0" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Stackable" type="items:Stackable" minOccurs="0" maxOccurs="1"/>
      <xs:element name="StatEffects" type="items:StatEffects" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Motion">
    <xs:attribute name="Id" />
    <xs:attribute name="Speed" />
  </xs:complexType>
  <xs:complexType name="MotionList">
    <xs:sequence>
      <xs:element name="Motion" type="items:Motion" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Equipment">
          <xs:attribute name="Slot" use="required" type="hyb:EquipmentSlot" />
          <xs:attribute name="Unique" type="xs:boolean" default="false" />
          <xs:attribute name="WeaponType" type="hyb:WeaponType" />
        </xs:complexType>
  
  <xs:complexType name="Variants">
          <xs:sequence>
            <xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="hyb:String8" />
            <xs:element name="Group" minOccurs="0" maxOccurs="unbounded" type="hyb:String8" />
          </xs:sequence>
        </xs:complexType>
  
  <xs:complexType name="Vendor">
          <xs:sequence>
            <xs:element name="Description" type="hyb:String8" default="item" />
          </xs:sequence>
          <xs:attribute name="ShopTab" type="xs:unsignedByte" use="required" />
        </xs:complexType>
  
  <xs:complexType name="ItemUseTeleport">
                <xs:simpleContent>
                  <xs:extension base="hyb:String8">
                    <xs:attribute name="X" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="Y" type="xs:unsignedByte" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
  
  <xs:complexType name="ItemUsePlayerEffect">
                <xs:attribute name="Gold" default="0" type="xs:int" />
                <xs:attribute name="Hp" default="0" type="xs:int" />
                <xs:attribute name="Mp" default="0" type="xs:int" />
                <xs:attribute name="Xp" default="0" type="xs:int" />
              </xs:complexType>
  
  <xs:complexType name="ItemUseEffect">
                <xs:attribute name="Id" type="xs:unsignedShort" use="required" />
                <xs:attribute name="Speed" type="xs:unsignedByte" default="100" />
              </xs:complexType>
  
  <xs:complexType name="ItemUseSound">
                <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
              </xs:complexType>
    
  <xs:complexType name="Use">
          <xs:sequence>
            <xs:element name="Script" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Teleport" minOccurs="0" maxOccurs="1" type="items:ItemUseTeleport"/>
            <xs:element name="PlayerEffect" minOccurs="0" maxOccurs="1" type="items:ItemUsePlayerEffect"/>
            <xs:element name="Effect" minOccurs="0" maxOccurs="1" type="items:ItemUseEffect"/>
            <xs:element name="Sound" minOccurs="0" maxOccurs="1" type="items:ItemUseSound"/>
          </xs:sequence>
          <xs:attribute name="Consumed" type="xs:boolean" default="true" />
        </xs:complexType>

  <xs:complexType name="ItemProperties">
    <xs:sequence>
      <xs:element name="Appearance" type="items:Appearance" minOccurs="1" maxOccurs="1"/>
      <xs:element name="CastModifiers" minOccurs="0" maxOccurs="1" type="items:CastModifiers" />
      <xs:element name="Stackable" type="items:Stackable" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Physical" minOccurs="1" maxOccurs="1" type="items:Physical">
      </xs:element>
      <xs:element name="Equipment" minOccurs="0" maxOccurs="1" type="items:Equipment"/>
      <xs:element name="StatEffects" minOccurs="0" maxOccurs="1" type="items:StatEffects"/>
      <xs:element name="Flags" minOccurs="0" maxOccurs="1" type="hyb:ItemFlags" />
      <xs:element name="Variants" minOccurs="0" maxOccurs="1" type="items:Variants"/>

      <xs:element name="Vendor" minOccurs="0" maxOccurs="1" type="items:Vendor"/>
      <xs:element name="Damage" minOccurs="0" maxOccurs="1" type="items:Damage"/>
      <xs:element name="Use" minOccurs="0" maxOccurs="1" type="items:Use"/>
      <xs:element name="Restrictions" minOccurs="0" maxOccurs="1" type="items:Restrictions"/>
      <xs:element name="Motions" minOccurs="0" maxOccurs="1" type="items:MotionList" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Comment" minOccurs="0" maxOccurs="1" type="hyb:String16" />
      <xs:element name="Properties" minOccurs="1" maxOccurs="1" type="items:ItemProperties" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Variant">
    <xs:sequence>
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Modifier" minOccurs="1" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Comment" minOccurs="0" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Properties" minOccurs="1" maxOccurs="1" type="items:VariantProperties" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariantGroup">
    <xs:sequence>
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="hyb:String8" />
      <xs:element name="Variant" minOccurs="1" maxOccurs="unbounded" type="items:Variant" />
    </xs:sequence>
  </xs:complexType>

  <!-- Actual elements for item, variantgroup, variant -->
  <xs:element name="Item" type="items:Item" />
  <xs:element name="VariantGroup" type="items:VariantGroup" />
  <xs:element name="Variant" type="items:Variant" />
</xs:schema>